<section class="our-client text-center">
  <div class="container">
    <h2 class="heading">Our Clients</h2>
    <p>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet,</p>
    <div class="row">
      <div class="col-md-4">
        <img src="./assets/images/1.jpg" />
      </div>
      <div class="col-md-4">
        <img src="./assets/images/2.jpg" />
      </div>
      <div class="col-md-4">
        <img src="./assets/images/3.jpg" />
      </div>
      <div class="col-md-4">
        <img src="./assets/images/4.jpg" />
      </div>
      <div class="col-md-4">
        <img src="./assets/images/5.jpg" />
      </div>
      <div class="col-md-4">
        <img src="./assets/images/6.jpg" />
      </div>
    </div>
  </div>
</section>
