<section class="brand-name">
    <div class="container">
        <h2>Face Moisturizer</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
    </div>
</section>
<section class="per-product-brand-detail">
    <div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="per-product-brand-left">
                <h5>REFINE BY</h5>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">On Sale</label>
                </div>
                <div id="accordion">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Alterna <i class="fa fa-plus" aria-hidden="true"></i>
                            <i class="fa fa-minus" aria-hidden="true"></i>
                          </button>
                        </h5>
                      </div>
                  
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Check this custom</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                <label class="custom-control-label" for="customCheck2">Check custom </label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck3">
                                <label class="custom-control-label" for="customCheck3">Check custom </label>
                              </div>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Hair type <i class="fa fa-plus" aria-hidden="true"></i>
                            <i class="fa fa-minus" aria-hidden="true"></i>
                          </button> 
                        </h5>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck4">
                                <label class="custom-control-label" for="customCheck4">Check this custom</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck5">
                                <label class="custom-control-label" for="customCheck5">Check custom </label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck6">
                                <label class="custom-control-label" for="customCheck6">Check custom </label>
                              </div>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                           Ratings <i class="fa fa-plus" aria-hidden="true"></i>
                           <i class="fa fa-minus" aria-hidden="true"></i>
                          </button> 
                        </h5>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck7">
                                <label class="custom-control-label" for="customCheck7">Check this custom</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck8">
                                <label class="custom-control-label" for="customCheck8">Ch5ceck custom </label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck9">
                                <label class="custom-control-label" for="customCheck9">Check custom </label>
                              </div>
                        </div>
                      </div>
                    </div>
                  </div>


            </div>
        </div>

        <div class="col-md-9">
            <div class="per-product-brand-right">
                <div class="row">
                    <div class="col-md-4">
                        <div class="shop-inner-product">
                            <img src="./assets/images/product-2.jpg">

                              <div class="product-left-padding">
                                  <h3>Face Moisture</h3>
                                <p>Lorem ipsum dolor sit amet,
                                consectetuer adipiscing elit, sed </p>
                                <ul><i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                </ul>
                                <h4>$230.00</h4>
                             
                             </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="shop-inner-product">
                            <img src="./assets/images/product-2.jpg">
                              <div class="product-left-padding">
                                  <h3>Face Moisture</h3>
                                <p>Lorem ipsum dolor sit amet,
                                consectetuer adipiscing elit, sed </p>
                                <ul><i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                </ul>
                                <h4>$230.00</h4>
                             
                             </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="shop-inner-product">
                            <img src="./assets/images/product-2.jpg">
                              <div class="product-left-padding">
                                  <h3>Face Moisture</h3>
                                <p>Lorem ipsum dolor sit amet,
                                consectetuer adipiscing elit, sed </p>
                                <ul><i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                </ul>
                                <h4>$230.00</h4>
                             
                             </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="shop-inner-product">
                            <img src="./assets/images/product-2.jpg">
                              <div class="product-left-padding">
                                  <h3>Face Moisture</h3>
                                <p>Lorem ipsum dolor sit amet,
                                consectetuer adipiscing elit, sed </p>
                                <ul><i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                </ul>
                                <h4>$230.00</h4>
                             
                             </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="shop-inner-product">
                            <img src="./assets/images/product-2.jpg">
                              <div class="product-left-padding">
                                  <h3>Face Moisture</h3>
                                <p>Lorem ipsum dolor sit amet,
                                consectetuer adipiscing elit, sed </p>
                                <ul><i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                </ul>
                                <h4>$230.00</h4>
                             
                             </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="shop-inner-product">
                            <img src="./assets/images/product-2.jpg">
                              <div class="product-left-padding">
                                  <h3>Face Moisture</h3>
                                <p>Lorem ipsum dolor sit amet,
                                consectetuer adipiscing elit, sed </p>
                                <ul><i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                </ul>
                                <h4>$230.00</h4>
                             
                             </div>
                        </div>
                    </div>
                </div>
              
                <div class="row">
                    <div class="col-md-4">
                        <div class="shop-inner-product">
                            <img src="./assets/images/product-5.jpg">
                              <div class="product-left-padding">
                                  <h3>Face Moisture</h3>
                                <p>Lorem ipsum dolor sit amet,
                                consectetuer adipiscing elit, sed </p>
                                <ul><i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                </ul>
                                <h4>$230.00</h4>
                             
                             </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="shop-inner-product">
                            <img src="./assets/images/product-5.jpg">
                              <div class="product-left-padding">
                                  <h3>Face Moisture</h3>
                                <p>Lorem ipsum dolor sit amet,
                                consectetuer adipiscing elit, sed </p>
                                <ul><i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                </ul>
                                <h4>$230.00</h4>
                             
                             </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="shop-inner-product">
                            <img src="./assets/images/product-5.jpg">
                              <div class="product-left-padding">
                                  <h3>Face Moisture</h3>
                                <p>Lorem ipsum dolor sit amet,
                                consectetuer adipiscing elit, sed </p>
                                <ul><i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                </ul>
                                <h4>$230.00</h4>
                             
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
