<div class="skin-care-main">
    <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>{{"Shop All Body & Bath" | translate}}</h3>
      </div>
      <div class="col-md-6"> 
      <div
       class="short-filter"><span _ngcontent-stq-c354="">
        <i _ngcontent-stq-c354="" aria-hidden="true" class="fa fa-filter"></i>{{"Filter" | translate}}</span>
        <select _ngcontent-stq-c354="" id="short-filter" name="cars">
          <option _ngcontent-stq-c354="" value="sort" ng-reflect-value="sort">{{"Sort By" | translate}}</option>
          <option _ngcontent-stq-c354="" class="ng-star-inserted">Best Sellers</option>
          <option _ngcontent-stq-c354="" class="ng-star-inserted">New</option>
          <option _ngcontent-stq-c354="" class="ng-star-inserted">Price Low to High</option>
          <option _ngcontent-stq-c354="" class="ng-star-inserted">Price High to Low</option>
          <option _ngcontent-stq-c354="" class="ng-star-inserted">Top Rated</option>
        </select></div>
    </div>
  </div>
  </div>
  </div>
  
  <div class="skin-detail-products">
    <div class="container">
      <div class="row">
      <div class="col-md-4" *ngFor="let bodyItem of bodyBathList">
        <div class="shop-inner-product">
          <img [src]="baseImageUrl+bodyItem.imagePath" />
          <div class="product-left-padding">
            <h3 *ngIf="currentLang == 'en'">{{bodyItem.brandName}}</h3>
            <h3 *ngIf="currentLang == 'ar'">{{bodyItem.brandNameInAr}}</h3>

            <p *ngIf="currentLang == 'en'">{{bodyItem.productName}}</p>
            <p *ngIf="currentLang == 'ar'">{{bodyItem.productNameInAr}}</p>

            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>${{bodyItem.price}}</h4>
            <h6><span *ngIf="currentLang == 'en'">{{bodyItem.measure}}</span>
              <span *ngIf="currentLang == 'ar'">{{bodyItem.measureInAr}}</span>
               <span></span> <span></span></h6>
            <button (click)="openAddToCart(bodyItem)" type="button" >{{"Add To Bag" | translate}}</button>       
  
        </div>
      </div>
    </div>
  </div>