<section class="detail-inner-blog">
  <div class="container">
    <img *ngFor="let item of blogImages" [src]="baseImageUrl + item" />
    <h3 class="author-name">{{ blogDetails?.authorName }}</h3>
    <p class="author-date">{{ blogDetails?.createdDate }}</p>
    <p *ngIf="currentLang == 'en'">{{ blogDetails?.title }}</p>
    <p *ngIf="currentLang == 'ar'">{{ blogDetails?.titleInAr }}</p>
    <h3 *ngIf="currentLang == 'en'">
      {{ blogDetails?.productCategory }}
    </h3>
    <h3 *ngIf="currentLang == 'ar'">
      {{ blogDetails?.productCategoryInAr }}
    </h3>

    <p *ngIf="currentLang == 'en'">
      {{ blogDetails?.description }}
    </p>
    <p *ngIf="currentLang == 'ar'">
      {{ blogDetails?.descriptionInAr }}
    </p>
  </div>
</section>
