<section class="account-login">
  <div class="account-login-inner">
    <img src="./assets/images/logo.png" />
    <form class="mt-3" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label
          ><h1>{{"Returning Customer" | translate}}</h1>
          {{"Enter your email address and password below to sign in." | translate}}</label
        ><br />
        <label for="exampleInputEmail1">{{"Email" | translate}}</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter Your Email Id"
          formControlName="inputValue"
          
          [ngClass]="{'is-invalid': submitted && getFormControl.inputValue.errors}"
        />
        <div *ngIf="submitted && getFormControl.inputValue.errors" class="invalid-feedback">
          <div *ngIf="getFormControl.inputValue.errors.required">
            {{"Email is required" | translate}}
          </div>
          <div *ngIf="getFormControl.inputValue.errors.email">
            {{"Email must be a valid email address" | translate}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>{{"Password" | translate}}</label>
        <input type="password" class="form-control" placeholder="Enter Your password" formControlName="password" 
        [ngClass]="{'is-invalid': submitted && getFormControl.password.errors}" />
        <div *ngIf="submitted && getFormControl.password.errors" class="invalid-feedback">
          <div *ngIf="getFormControl.password.errors.required">
            {{"Password is required" | translate}}
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">{{"Sign In" | translate}}</button>
      <p>{{"By continuing, you agree to derma stations" | translate}} <a>{{"Privacy Policy" | translate}}</a></p>
      <a class="need-help">{{"Need help" | translate}}</a>
    </form>
    <div class="craete-acount">
      <button
        [routerLink]="['/register']"
        routerLinkActive="router-link-active"
      >
        {{"Create your Derma station account" | translate}}
      </button>
    </div>
  </div>
</section>
<!--  -->

