<section class="product-detail-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-5 product-detail-left-sec">
        <lib-ngx-image-zoom [thumbImage]="myThumbnail" [magnification]="2" [enableScrollZoom]="true" [enableLens]="true"
          [lensWidth]="200"></lib-ngx-image-zoom>
      </div>
      <div class="col-md-7 product-detail-right-sec">
        <h2 *ngIf="currentLang=='en'">
          {{ brandProductDetails?.attributes.brandName }}
        </h2>
        <h2 *ngIf="currentLang=='ar'">
          {{ brandProductDetails?.attributes.brandNameInAr }}
        </h2>
        <p *ngIf="currentLang=='en'">
          {{ brandProductDetails?.attributes.productName }}
        </p>
        <p *ngIf="currentLang=='ar'">
          {{ brandProductDetails?.attributes.productNameInAr }}
        </p>
        <h3>${{ brandProductDetails?.attributes.price }}</h3>
        <div class="add-cart">
          <select class="form-control" id="exampleFormControlSelect1" (change)="onSelectQuantity($event.target.value)">
            <option *ngFor="let item of quantityValue">{{ item.value }}</option>
          </select>
          <button (click)="openAddToCart(brandProductDetails)" type="button">
            Add to bag
          </button>
          <!-- <button (click)="openAddToCart(template, brandProductDetails)">{{"Add To Bag" | translate}}</button> 
            <button type="button" class="btn btn-demo" data-toggle="modal" data-target="#myModal2" (click)="openAddToCart(template, brandProductDetails)">{{"Add To Bag" | translate}}</button> -->
          <a>{{"Consult a doctor" | translate}}</a>
        </div>
        <h4>DEEP CLEANSES, SOFTENS, NOURISHES</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit,<br />
          sed diam nonummy nibh euismod tincidunt ut laoreet <br />dolore magna
          aliquam erat volut
        </p>
      </div>
    </div>
  </div>
</section>
<!-- About this PRODUCT &  INGREDIENTS-->

<section class="about-this-product">

  <div id="exTab1" class="">
    <ul class="nav nav-pills">
      <li class="active">
        <a href="#1a" data-toggle="tab">{{"ABOUT THIS PRODUCT" | translate}}</a>
      </li>
      <li>
        <a href="#2a" data-toggle="tab" *ngIf="currentLang=='en'">{{"INGREDIENTS" | translate}}</a>
        <a href="#2a" data-toggle="tab" *ngIf="currentLang=='ar'">{{"INGREDIENTS" | translate}}</a>
      </li>

    </ul>

    <div class="tab-content clearfix">

      <div class="tab-pane active" id="1a">
        <h3 *ngIf="currentLang=='en'">{{ brandProductDetails?.attributes.description }}</h3>
        <h3 *ngIf="currentLang=='ar'">{{ brandProductDetails?.attributes.descriptionInAr }}</h3>

      </div>
      <div class="tab-pane" id="2a">
        <h3 *ngIf="currentLang=='en'">
          {{ brandProductDetails?.attributes.ingredientsList[0] }}
        </h3>
        <h3 *ngIf="currentLang=='ar'">
          {{ brandProductDetails?.attributes.ingredientsListInAr[0] }}
        </h3>
      </div>

    </div>
  </div>

</section>

<!-- End About this PRODUCT &  INGREDIENTS-->


<section class="how-to-use">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2>{{"HOW TO USE" | translate}}</h2>
        <p *ngIf="currentLang=='en'">{{ brandProductDetails?.attributes.howToUse }}</p>
        <p *ngIf="currentLang=='ar'">{{ brandProductDetails?.attributes.howToUseInAr }}</p>

      </div>
      <div class="col-md-7">
        <img src="assets/images/how-to-use.jpg" />
      </div>
    </div>
  </div>
</section>

<section class="shop-sellers-product-sec shop-sellers-pro-detail">
  <div class="container">
    <h2 class="heading">Shop Pro-Collagen</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
      wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
      lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
      iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
      illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto
      odio dignissim qui blandit praesent luptatum zzril delenit augue duis
    </p>
    <div class="owl-carousel owl-theme">
      <div class="item">
        <div class="shop-inner-product">
          <img src="assets/images/product-1.jpg" />
          <div class="product-left-padding">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>$230.00</h4>
            <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
            <a>Add To Bag</a> <button>Consult a doctor</button>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="shop-inner-product">
          <img src="assets/images/product-2.jpg" />
          <div class="product-left-padding">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>$230.00</h4>
            <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
            <a>Add To Bag</a> <button>Consult a doctor</button>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="shop-inner-product">
          <img src="assets/images/product-3.jpg" />
          <div class="product-left-padding">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>$230.00</h4>
            <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
            <a>{{"Add To Bag" | translate}}</a> <button>{{"Consult a doctor" | translate}}</button>
          </div>
        </div>
      </div>

      <app-keep-in-touch></app-keep-in-touch>
    </div>
  </div>
</section>

<!-- Review -->
<section class="reviews-sec">
  <div class="container">
    <form class="example" action="action_page.php">
      <input type="text" placeholder="Search topics and reviews" name="search">
      <button type="submit" (click)="openReviewSearch()"><i class="fa fa-search"></i></button>
    </form>

    <h2>Reviews</h2>
    <div class="review-inner-sec">
      <div class="row" *ngIf="review">
        <div class="col-md-6">
          <div class="review-detail-left">
            <div class="review-cal">
              <h3>{{review.totalReviews}}Review</h3>
              <p>Select a row to filter reviews.</p>
            </div>
            <ul>
              <li> 5 <i class="fa fa-star" aria-hidden="true"></i>
                <progress-bar [progress]="review.percentReviewsFiveStar" [color]="'#0f213a'">
                </progress-bar>
                <div class="review-number">
                  {{review.totalReviewsFiveStar}}
                </div>
              </li>

              <li> 4 <i class="fa fa-star" aria-hidden="true"></i>
                <progress-bar [progress]="review.percentReviewsFourStar" [color]="'#0f213a'">
                </progress-bar>
                <div class="review-number">
                  {{review.totalReviewsFourStar}}
                </div>
              </li>
              <li> 3 <i class="fa fa-star" aria-hidden="true"></i>
                <progress-bar [progress]="review.percentReviewsThreeStar" [color]="'#0f213a'">
                </progress-bar>
                <div class="review-number">
                  {{review.totalReviewsThreeStar}}
                </div>
              </li>
              <li> 2 <i class="fa fa-star" aria-hidden="true"></i>
                <progress-bar [progress]="review.percentReviewsTwoStar" [color]="'#0f213a'">
                </progress-bar>
                <div class="review-number">
                  {{review.totalReviewsTwoStar}}
                </div>
              </li>
              <li> 1 <i class="fa fa-star" aria-hidden="true"></i>
                <progress-bar [progress]="review.percentReviewsOneStar" [color]="'#0f213a'">
                </progress-bar>
                <div class="review-number">
                  {{review.totalReviewsOneStar}}
                </div>
              </li>

            </ul>
          </div>

        </div>
        <div class="col-md-3">
          <div class="rating">
            <ul><i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <span> {{review.averageRatings}} / 5 stars</span>
            </ul>
            <h3>{{review.percentWillRecommend}}% <span>Would recommend</span></h3>

          </div>

        </div>
        <div class="col-md-3">
          <button type="button" (click)="openWriteReview()"> Write a review </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Review -->
