a:hover {
  text-decoration: none;
  cursor: pointer;
}
a,
button {
  cursor: pointer;
}
nav.navbar.navbar-expand-lg ul {
  width: 100%;
  text-align: right;
  display: inline-block;
}
nav.navbar.navbar-expand-lg ul li {
  display: inline-block;
  margin: 0px 4px;
}
nav.navbar.navbar-expand-lg ul li a {
  color: #222121 !important;
  font-size: 17px;
  font-weight: 400;
}
a.navbar-brand img {
  width: 100%;
  max-width: 75px;
}
.banner {
  background-image: url(../images/banner-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  display: flex;
  background-position: center;
}
section.banner .container {
  margin: auto;
}
.banner-inner h1 {
  font-size: 49px;
  line-height: 58px;
  margin-bottom: 25px;
}
a.shop-btn {
  background-color: #fff;
  color: #000;
  font-size: 25px;
  text-transform: uppercase;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 2px 3px 9px rgb(0 0 0 / 40%);
}

.browse-category-inner img {
  width: 100%;
  height: 260px;
  object-fit: contain;
  object-position: center;
}
.browse-category {
  padding: 60px 0px;
}
h2.heading {
  text-align: center;
  font-size: 37px;
  font-weight: 400;
  margin-bottom: 40px;
}
.browse-category-inner a {
  text-align: center;
  display: block;
  color: #333;
  font-weight: 500;
}
.browse-category-inner:hover {
  box-shadow: 2px 1px 5px rgb(0 0 0 / 20%);
}
.browse-category-inner {
  padding: 10px 0px;
}
.shop-inner-product {
  text-align: left;
  padding: 20px;
  margin-bottom: 15px;
}
.shop-inner-product:hover {
  box-shadow: 1px 1px 5px rgb(0 0 0 / 20%);
}
.shop-inner-product img {
  max-width: 250px;
  height: 220px;
  object-fit: cover;
}
.shop-inner-product ul {
  padding: 0px;
  margin: 0px 0px 7px 0px;
}
.shop-inner-product h6 span {
  margin-right: 11px;
  color: #333;
  font-weight: 500;
}
.shop-inner-product a {
  border: 1px solid #333;
  padding: 5px 15px;
  display: inline-block;
  color: #333;
  margin-top: 8px;
}
.shop-inner-product button {
  background-color: #d4d4d4;
  border: 1px solid #d4d4d4;
  padding: 5px 8px;
  margin-left: 10px;
}
section.shop-sellers-sec:before {
  background-color: #d8d8d8;
  content: "";
  width: 100%;
  height: 400px;
  z-index: -9;
  top: 0;
}
.shop-sellers-sec:after {
  content: "";
  background-color: #fdcc9a;
  width: 100%;
  height: 200px;
  bottom: 0;
  z-index: -9;
}
.shop-sellers-sec {
  position: relative;
  padding: 60px 0px 0px 0px;
}
.shop-seller-inner {
  background-color: #fff;
  padding: 30px;
  box-shadow: -1px 0px 8px rgb(0 0 0 / 30%);
}
.clean-intelligence-sec {
  background-color: #fdcc9a;
  /* background-color: rgb(240, 204, 192); */
  padding: 80px 0px 60px 0px;
}
.clean-left-sec h2 {
  color: #333;
  font-size: 32px;
}
.clean-left-sec h4 {
  color: #333;
  font-size: 20px;
}
.clean-left-sec p {
  font-size: 17px;
  margin-top: 15px;
}
.clean-center-sec img {
  width: 100%;
  max-width: 52px;
  height: -webkit-fill-available;
  margin-right: 15px;
}
.clean-center-sec {
  display: flex;
  margin-bottom: 15px;
}
.clean-icon-flex h3 {
  font-size: 22px;
  margin-bottom: 7px;
  color: #333;
}
.product-left-padding {
  padding-left: 40px;
  text-align: center;
}
.shop-sellers-product-sec {
  padding: 60px 0px;
}
.benefit-provide {
  background-color: #fdefe2;
  padding: 150px 0px;
  position: relative;
}
.benefit-provide h1 {
  color: #000;
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
}
.benefit-provide p {
  color: #656565;
  font-size: 19px;
  margin-top: 25px;
}
.benefit-provide:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  background-image: url(../images/benefit-bg.jpg);
  background-position: right;
  background-repeat: no-repeat;
  top: 0;
}
section.pink-blank-sec {
  background-color: #fdcc9a;
  padding: 60px 0px;
}
section.our-client.text-center img {
  width: 100%;
  max-width: 200px;
  margin-top: 40px;
}
section.our-client {
  padding: 60px 0px;
}
section.our-client.text-center h2.heading {
  margin-bottom: 10px;
}
section.our-client.text-center p {
  color: #333;
  font-size: 20px;
}
.testimonial-client {
  display: flex;
  padding: 20px 30px;
}
.testimonial-client img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 200px;
  margin-top: -42px;
}
.Clients-detail h3 {
  font-size: 18px;
  margin: 0px;
}
.Clients-detail small {
  font-size: 15px;
  font-style: italic;
}
.testimonial-sec .row p {
  color: #000;
  margin: 30px 0px 0px 0px;
  background-color: #fff;
  padding: 40px 35px 70px 35px;
}
section.testimonial-sec {
  background-color: #fdefe2;
  padding: 60px 0px;
}
section.testimonial-sec h2.heading {
  margin-bottom: 15px;
}
.Clients-detail {
  margin-left: 20px;
}
section.follow-sec {
  padding: 60px 0px;
}
.footer-logo img {
  width: 100%;
  max-width: 165px;
}
footer.footer-sec {
  padding: 50px 0px;
}
.footer-about h5 {
  font-size: 20px !important;
  color: #333;
  margin-bottom: 20px !important;
}
.footer-about ul {
  padding: 0px;
}
.footer-about ul li {
  list-style: none;
  margin-bottom: 15px;
}
.footer-about ul li a {
  color: #333;
}
p.copyright {
  text-align: center;
  color: #333;
  font-size: 18px;
  font-weight: 500;
  margin: 15px 0px 0px 0px !important;
}
.short-filter {
  width: 100%;
  display: flex;
}
.product-filter {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}
.product-filter h2 {
  width: 100%;
}
.short-filter span {
  font-size: 18px;
  width: 85px;
  margin-top: 4px;
}
.keep-in-touch-sec {
  background-image: url(../images/product-lets-bg.png);
  background-size: cover;
}
.keep-in-left h2 {
  font-size: 32px;
  font-weight: 700;
  margin: 0px;
}
.keep-in-left p {
  font-size: 18px;
  color: #333;
  margin: 11px 0px;
}
.keep-in-left ul {
  padding: 0px;
  list-style: none;
}
.keep-in-left ul li {
  display: inline-block;
  font-size: 34px;
  margin-right: 18px;
}

.keep-in-right h3 {
  font-size: 22px;
  font-style: italic;
}
.keep-in-right h3 {
  font-size: 22px;
  font-style: italic;
  margin-bottom: 25px;
}
.keep-in-right input {
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  border-radius: 0px;
  padding: 5px 0px;
  color: #0000;
}
.keep-in-right small {
  color: #000;
  font-size: 15px;
}
.keep-in-right form {
  margin-bottom: 45px;
}
.keep-in-left {
  margin-top: 120px;
}

.keep-in-right {
  margin-top: 155px;
  margin-bottom: 100px;
}
.shop-sellers-product-sec.shop-sellers-pro-detail h2 {
  margin-bottom: 15px;
}
.shop-sellers-product-sec.shop-sellers-pro-detail p {
  text-align: center;
  margin-bottom: 45px;
}
.how-to-use {
  background-color: #fedfbe;
  padding: 70px 0px;
}
.how-to-use h2 {
  text-transform: uppercase;
  font-size: 27px;
}

.how-to-use p {
  margin-bottom: 40px;
}
.how-to-use img {
  margin: 0 auto;
  display: block;
}
.about-this-product {
  background-color: #e6e7e8;
  padding: 40px 0px;
}
.about-this-product h3 {
  font-size: 20px;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 25px;
  font-weight: 700;
}
.product-detail-left-sec img {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  display: block;
}
.product-detail-right-sec h2 {
  color: #4c4b4d;
  font-size: 30px;
  margin-bottom: 15px;
}
.product-detail-right-sec ul li {
  list-style: none;
  display: inline-block;
}
.product-detail-right-sec ul {
  padding: 0px;
}
.product-detail-right-sec h3 {
  color: #4c4b4d;
  font-size: 30px;
  margin: 0px;
}
.product-detail-right-sec h3 span {
  font-size: 23px;
}
.product-detail-right-sec h4 {
  font-size: 17px;
  margin-bottom: 15px;
}
.add-cart button {
  background-color: #0b4f71;
  color: #fff;
  border: 1px solid #0b4f71;
  padding: 5px 40px;
  text-transform: uppercase;
  margin-right: 7px;
}
.add-cart a {
  background-color: #bcbec0;
  padding: 7px 9px;
  color: #fff;
}
.add-cart span {
  border: 1px solid #333;
  padding: 6px 22px;
  margin-right: 7px;
}
.add-cart {
  margin: 25px 0px;
}
.product-detail-banner {
  padding: 60px 0px;
}
.every-day-offer-inner img {
  width: 100%;
}
.every-day-offer-inner {
  padding: 45px;
  background-color: #fedfbe;
}
.every-day-offer h2 {
  margin-bottom: 30px;
}
.every-day-offer-inner p {
  font-size: 15px;
  margin-bottom: 0px;
  margin-top: 15px;
}
.every-day-offer-inner a {
  color: #333;
  font-weight: 500;
  font-style: italic;
  font-size: 18px;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-top: 25px;
  text-decoration: underline;
}
.every-day-left img {
  width: 100%;
}
.every-day-right-sec h2 {
  color: #4c4b4d;
  font-weight: 400;
  font-size: 30px;
}
.every-day-right-sec a {
  color: #4d4b4d;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 10px;
  display: inline-block;
  text-decoration: underline;
}
.every-day-left img {
  max-width: 350px;
  margin: 0 auto;
  display: block;
}
.col-md-5.every-day-left span {
  background-color: #0b4f71;
  display: block;
  width: 100px;
  height: 100px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  border-radius: 102px;
  padding-top: 25px;
  position: absolute;
  top: 0;
  right: 75px;
}
.every-day-inner {
  margin-top: 80px;
}

.keep-in-left ul li a {
  color: #4b4b4b;
}

.every-day-offer {
  padding: 60px 0px;
}

.blog-inner-sec img {
  width: 100%;
}
.blog-inner-text h3 {
  color: #4c4b4d;
  font-size: 18px !important;
  font-weight: 500 !important;
  margin: 5px 0px !important;
}
.blog-inner-text p {
  color: #4d4b4d;
  font-size: 16px;
}

.blog-inner-text {
  padding: 18px 10px 0px 5px;
}
.blog-inner-text a {
  background-color: #d4d4d4;
  color: #fff;
  text-transform: uppercase;
  padding: 7px 23px;
  display: inline-block;
  margin-top: 11px;
  text-align: center;
}
.blog-inner-sec {
  box-shadow: 1px 1px 12px rgb(0 0 0 / 20%);
  /* margin-top: 30px; */
  position: relative;
  height: 100%;
}
section.blog-main-sec {
  padding: 50px 0px;
}
.view-all-btn a {
  border: 1px solid #0b4f71;
  color: #0b4f71;
  padding: 8px 25px;
  display: inline-block;
  margin-top: 50px;
}
.view-all-btn {
  text-align: center;
}
.blog-inner-sec.blog-detail-sec {
  box-shadow: none;
}
.brand-div h3 {
  font-size: 15px;
  border-bottom: 1px solid #333;
  padding-bottom: 14px;
  text-transform: uppercase;
}
.brand-div ul {
  padding: 0px;
}
.brand-div ul li {
  display: block !important;
  text-align: left;
  margin-top: 6px !important;
}
.dropdown-menu.home-product {
  right: 9%;
  width: 100%;
  max-width: 940px;
  left: auto;
  padding: 27px 15px;
}
.brand-div a {
  font-size: 16px !important;
}
.brand-div img {
  width: 100%;
  max-width: 250px;
  margin-top: 12px;
}
.dropdown-toggle::after {
  display: none;
}
nav.navbar.navbar-expand-lg ul li a:focus {
  box-shadow: none;
}

/* skin-ceuticals*/

.skin-ceuticals .product-left-padding {
  padding-left: 0px;
  text-align: center;
}
.skin-ceuticals .product-left-padding p {
  margin-bottom: 10px;
}
.skin-ceuticals .shop-inner-product img {
  margin: 0 auto;
  display: block;
}
.refine-by {
  height: 100%;
  background-color: #f5f5f5;
  padding: 10px 0px;
}
.refine-by ul {
  padding: 0px;
  list-style: none;
}

.refine-by ul li {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 20px;
}
.refine-by h4 {
  font-size: 20px;
  padding: 5px 20px;
  margin: 0px;
}

@media screen and (max-width: 767px) {
  .brand-div h3 {
    text-align: center;
  }
  .brand-div img {
    margin: 0 auto;
    display: block;
  }
  .clean-center-sec img {
    height: 60px;
    object-fit: cover;
  }

  .product-filter h2 {
    font-size: 30px;
  }

  .short-filter {
    text-align: center;
  }
  .shop-inner-product {
    text-align: center;
  }
  .product-detail-right-sec h2 {
    font-size: 22px;
  }
  .product-detail-banner {
    padding: 25px 0px;
    text-align: center;
  }
  .add-cart a {
    display: inline-block;
    margin-top: 15px;
  }
  section.about-this-product {
    text-align: center;
  }

  .every-day-offer-inner img {
    margin-top: 20px;
  }
  .every-day-offer-inner a {
    padding-top: 10px;
  }
  .shop-sellers-product-sec {
    padding: 40px 0px;
  }
  .product-left-padding {
    padding-left: 0px;
  }
  .keep-in-right {
    margin-top: 20px;
    margin-bottom: 80px;
  }

  section.blog-main-sec {
    padding: 40px 0px;
  }
  .every-day-inner {
    margin-top: 40px;
  }
  .every-day-offer {
    text-align: center;
  }

  section.how-to-use {
    padding: 40px 0px;
    text-align: center;
  }
  section.how-to-use h2 {
    font-size: 22px;
  }

  section.how-to-use img {
    width: 100%;
  }
  .product-filter {
    text-align: center;
    display: block;
  }
  nav.navbar.navbar-expand-lg ul li a {
    text-align: right;
  }
  nav.navbar.navbar-expand-lg ul li {
    display: block;
    text-align: center;
  }
  li.nav-item.header-icons {
    display: inline-block !important;
  }
  button.navbar-toggler:focus,
  button.navbar-toggler:active {
    outline: none !important;
    box-shadow: none;
  }
  .banner-inner h1 {
    font-size: 30px;
    line-height: 43px;
    margin-bottom: 1px;
  }
  a.shop-btn {
    font-size: 16px;
    padding: 7px 17px;
  }
  .banner {
    height: 50vh;
    background-position: center;
  }

  .browse-category {
    padding: 30px 0px;
  }
  h2.heading {
    font-size: 29px;
  }

  .browse-category .col {
    width: 50%;
    flex-basis: inherit;
  }
  .browse-category-inner img {
    height: 200px;
  }
  .shop-seller-inner {
    padding: 15px;
  }
  .clean-intelligence-sec {
    padding: 45px 0px 15px 0px;
  }
  .benefit-provide:before {
    display: none;
  }
  .benefit-provide br {
    display: none;
  }
  .benefit-provide {
    display: none;
  }
  .benefit-provide h1 {
    font-size: 37px;
    line-height: 50px;
  }
}
select.form-select.mb-3 {
  position: absolute;
  right: 0;
  opacity: 0;
  left: 0;
  bottom: -18px;
  cursor: pointer;
  max-width: 33px;
}
a.country-leanguage {
  position: relative;
  cursor: pointer;
}

.owl-carousel,
.bx-wrapper {
  direction: ltr;
}
.owl-carousel .owl-item {
  direction: rtl;
}

.mat-menu-panel {
  min-width: 112px;
  max-width: 722px !important;
  overflow: auto;
  margin-top: 15px;
  background: #fff !important;
}
.first-menu {
  padding: 18px;
}
.first-menu .brand-div a {
  font-size: 16px !important;
  color: #000;
}
.body-content.open {
  margin-left: 0;
}
.sidebar.panel.open {
  transform: translateX(-100%);
}
button:focus {
  outline: none !important;
}
span.mat-button-wrapper {
  font-size: 17px;
  font-weight: 400;
}
.languageClass {
  background: transparent;
  border: none;
  font-size: 17px;
}

/* about page css here */

section.about-banner {
  background-image: url(../images/about-us-banner.jpg);
  height: 500px;
  background-size: cover;
  display: flex;
}
.about-banner-text-inner {
  margin: auto;
}
.about-banner-text {
  display: flex;
  height: 100%;
  float: left;
}
.about-banner-text-inner h2 {
  font-size: 45px !important;
  font-weight: bold !important;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 25px !important;
}
.about-banner-text-inner p {
  color: #fff;
  font-size: 20px;
  width: 100%;
  max-width: 500px;
  line-height: 30px;
}
a.navbar-brand.abs.nav-logo img {
  width: 100%;
  max-width: 58px;
}
.experience-sec-right h2 {
  font-weight: bold !important;
  font-size: 39px !important;
  line-height: 46px !important;
}
.experience-sec-left img {
  width: 100%;
}
.experience-sec-right {
  margin: auto;
}
.experience-sec-right p {
  font-size: 18px;
  line-height: 30px;
  margin: 0px;
}
section.our-mission-sec {
  background-color: #d8d8d8;
  padding: 60px 0px;
}
section.experience-sec {
  padding: 60px 0px;
}
.our-vission {
  background-color: #ffd4a9;
  padding: 30px;
}
.our-vission p {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
}
.our-vission h3 {
  text-align: center;
  font-size: 22px !important;
  font-weight: 600 !important;
  margin-bottom: 14px !important;
}
.contact-banner {
  background-image: url(../images/contact-us.jpg);
  height: 500px;
  background-size: cover;
  display: flex;
  background-position: right;
}
.faq-banner {
  background-image: url(../images/faq-banner.jpg);
  height: 500px;
  background-size: cover;
  display: flex;
  background-position: right;
}
section.contact-banner h2,
section.contact-banner p {
  color: #212529;
}
.reach-info-sec-inner {
  background-color: #fdcc9a;
  padding: 30px 20px;
  display: flex;
}
section.reach-info-sec {
  padding: 60px 0px;
}
span.reach-info-left {
  background-color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  display: table;
}
span.reach-info-left i {
  font-size: 20px;
  padding-top: 15px;
}
span.reach-info-right {
  padding-left: 15px;
}
span.reach-info-right a {
  display: block;
  font-size: 17px;
  color: #212529;
  margin-top: 4px;
}
span.reach-info-right p {
  font-size: 17px;
  color: #212529;
}

.contact-inner {
  padding: 40px 30px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
}
.contact-inner h2 {
  font-size: 30px !important;
  text-transform: capitalize;
  text-align: center;
}
.contact-inner p {
  text-align: center;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}
.contact-inner form input {
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 0px;
  margin-bottom: 15px;
  height: 47px;
  font-weight: 400;
}
.contact-inner form textarea {
  border: 1px solid #333;
}
.contact-inner form {
  margin-top: 30px;
}
section.contact-form-sec {
  background-color: #d8d8d8;
  padding: 60px 0px;
}
section.faq-banner h2,
section.faq-banner p {
  color: #000;
}
.accordion .card-header:after {
  font-family: "FontAwesome";
  content: "\f068";
  float: right;
}
.accordion .card-header.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f067";
}
.card-header {
  background-color: #fdcc9a !important;
  color: #000;
  font-size: 16px;
  margin-top: 20px;
}
section.faq-accordion {
  padding: 60px 0px;
}
section.privacy-text h3 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}
section.privacy-text p {
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 20px;
}
section.privacy-text {
  padding: 60px 0px;
}
.contact-inner form button {
  background-color: #212529 !important;
  border: 1px solid #212529 !important;
  border-radius: 20px;
  padding: 7px 35px;
  margin-top: 25px !important;
  margin: 0 auto;
  display: block;
}
.account-login-inner {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
}
section.account-login img {
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
  display: block;
}
.account-login-inner form {
  border: 2px solid #efefef;
  padding: 30px;
}
.account-login-inner form label {
  font-size: 17px;
  margin-bottom: 24px;
}
.account-login-inner form button {
  background-color: #333 !important;
  border: 1px solid #333 !important;
  width: 100%;
  margin-bottom: 15px;
  padding: 8px 10px;
}
.account-login-inner form p {
  font-size: 17px;
}
a.need-help {
  color: #333;
  font-size: 17px;
  margin-top: 20px;
  display: inline-block;
}
.craete-acount button {
  background-color: #a5a5a5;
  border: 1px solid #a5a5a5;
  font-size: 18px;
  width: 100%;
  padding: 11px 10px;
  margin-top: 25px !important;
  max-width: 500px;
  margin: 0 auto;
  display: block;
}
section.account-login {
  padding: 60px 0px;
}
.ngx-pagination {
  text-align: center;
  margin-top: 60px;
}
.ngx-pagination .current {
  background: #0b4f71 !important;
}

.letterTxt {
  display: inline-block;
  padding: 10px;
  color: #333;
}
.letterHeader {
  background-color: rgb(232, 233, 233);
  padding: 15px;
  margin: 20px 12px 15px 0px !important;
  line-height: 16px !important;
  text-align: center;
}
hr.single-border {
  margin-top: 38px;
}
.alpha-detail a {
  color: #000;
  font-size: 18px;
  margin-top: 10px;
}
select#short-filter {
  border: none;
  font-size: 18px;
  padding: 0px 15px;
  vertical-align: text-bottom;
  outline: none;
}
.alpha-detail {
  width: 100%;
}
section.consult-doctor button {
  background-color: #fdcc9a;
  border: 1px solid #fdcc9a;
  color: #333;
  margin-top: 10px;
}

section.consult-doctor label {
  font-size: 17px;
}
.doctor-info-inner img {
  width: 100%;
  margin-bottom: 20px;
  height: 330px;
  object-fit: cover;
}
.doctor-info-inner h3 {
  font-size: 22px !important;
  margin-bottom: 8px !important;
  font-weight: 600 !important;
  padding: 0px 15px;
}
.doctor-info-inner p {
  font-size: 18px !important;
  line-height: 29px !important;
  padding: 0px 15px !important;
}
.doctor-info-inner {
  box-shadow: 0px 1px 5px #13131333;
  padding-bottom: 15px;
}
section.doctor-info {
  margin-top: 60px;
  margin-bottom: 30px;
}
section.doctor-info {
  margin-top: 60px;
  margin-bottom: 30px;
}

section.brand-name {
  padding: 60px 0px;
  text-align: center;
}
.brand-name h2 {
  font-size: 30px !important;
  font-weight: bold !important;
}
section.brand-name p {
  font-size: 17px;
  line-height: 29px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.per-product-brand-right .shop-inner-product {
  text-align: center;
}
.per-product-brand-right .product-left-padding {
  padding: 15px 0px 0px 0px;
}
.per-product-brand-right h3 {
  font-weight: 600 !important;
  margin-bottom: 7px;
  font-size: 18px !important;
}
.per-product-brand-left h5 {
  font-size: 19px !important;
}
.per-product-brand-left .card-header {
  background-color: transparent !important;
  padding: 4px 0px;
  margin-top: 0px;
}
.per-product-brand-left .card-header button {
  font-weight: bold;
  color: #000;
  display: block;
  width: 100%;
  text-align: left;
}
.per-product-brand-left .card {
  border: 1px;
}
.per-product-brand-left .card-header i {
  float: right;
  font-size: 14px;
  margin-top: 5px;
}
.per-product-brand-left {
  height: 500px;
  overflow-y: auto;
}
button.btn.btn-link .fa-plus {
  display: none;
}
button.btn.btn-link.collapsed .fa-minus {
  display: none;
}
button.btn.btn-link.collapsed .fa-plus {
  display: block;
}

.blog-main-left {
  position: relative;
  height: 98.6%;
}
.blog-right-main ul li span {
  display: block;
  position: relative;
  margin: 0px 0px 10px 10px;
}
.blog-link {
  background-color: rgb(105 105 105);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 10px;
}
.blog-right-main ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-right-main ul li {
  width: 50%;
  margin: 0px;
  position: relative;
  vertical-align: top;
  box-sizing: border-box;
}
.blog-right-main ul {
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
  display: inline-flex;
  list-style: none;
}
.blog-main-left img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  object-position: right;
}
.blog-link a {
  color: #fff;
  font-weight: 400;
  font-size: 17px;
  display: block;
  text-align: center;
}
.blog-link a:hover {
  color: #fff;
}
.blog-detail-inner {
  margin-bottom: 40px;
}
.blog-right-sidebar form input {
  width: 100%;
  height: 46px;
  font-size: 16px;
  color: #6f6f6f;
  padding-left: 15px;
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  margin-bottom: 30px;
}
.blog__sidebar__item h4 {
  color: #1c1c1c;
  font-weight: 700 !important;
  margin-bottom: 25px !important;
  font-size: 25px !important;
}
.blog__sidebar__item ul li a {
  font-size: 16px;
  color: #666666;
  line-height: 48px;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
.blog__sidebar__item ul li {
  list-style: none;
}
.blog__sidebar__item ul {
  padding: 0px;
}
.blog__sidebar__item {
  padding-left: 20px;
}
.blog-detail {
  background-image: url(https://dermastationwebapi.azurewebsites.net/BlogImages/bc960ea1-8583-4176-92ce-5aeb9bcd77c1.jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.detail-inner-blog p {
  font-size: 18px !important;
  line-height: 27px !important;
}
.detail-inner-blog {
  padding: 60px 0px;
}
.blog-inner-sec img {
  height: 300px;
  object-fit: cover;
}
.blog-inner-sec-img img {
  height: 200px;
}
section.detail-inner-blog img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  margin-bottom: 40px;
}
h3.author-name {
  margin-bottom: 9px !important;
}
.detail-inner-blog h3 {
  font-size: 24px !important;
  margin-bottom: 6px !important;
  margin-top: 30px !important;
}
.arabic-page section.detail-inner-blog {
  text-align: right;
  direction: ltr;
}
.cart-popup-img img {
  width: 100%;
}
.cart-popup-text h3 {
  font-size: 21px;
  font-weight: 500;
}
.cart-popup-text p {
  font-size: 17px;
  font-weight: 100;
  line-height: 28px;
}
.footer-btn-popup button {
  width: 100%;
  max-width: 170px;
  display: block;
  background-color: #0b4f71;
  border: 1px solid #0b4f71;
  color: #fff;
  padding: 8px 0px;
  font-size: 17px;
  margin: 0 auto;
  text-transform: uppercase;
}
.footer-btn-popup a {
  color: #212529;
  margin-top: 10px;
  display: block;
  font-size: 16px;
}
.footer-btn-popup {
  text-align: center;
  margin-top: 20px;
}
.add-cart select#exampleFormControlSelect1 {
  width: 100%;
  max-width: 85px;
  margin-right: 8px;
  border-radius: 0px;
}
.add-cart {
  display: flex;
}
.add-cart select#exampleFormControlSelect1:focus {
  box-shadow: none;
  outline: none;
}
section.consult-doctor {
  margin-top: 10px;
  background-color: #fdcc9a;
}
.online-consult h2 {
  font-size: 32px !important;
  text-transform: capitalize;
  font-weight: bold !important;
}
.online-consult p {
  font-size: 18px;
}
.online-consult a {
  font-size: 19px;
  text-transform: uppercase;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 9px;
  border-radius: 20px;
  box-shadow: 2px 3px 9px rgb(0 0 0 / 40%);
  background-color: #fff;
  color: #333;
}
.online-consult-img img {
  width: 100%;
  max-width: 400px;
}
.online-consult {
  padding: 135px 0px;
}
.online-consult-img {
  margin: auto;
}
.shopping-cart-left h3 {
  font-size: 37px !important;
  font-weight: 400 !important;
  margin-bottom: 25px !important;
}
.shopping-cart-left button {
  background-color: #c1c0c0;
  border: 1px solid #c1c0c0;
  color: #fff;
  padding: 14px 53px;
  font-size: 18px;
}
.shopping-cart-right button {
  background-color: #212529;
  border: 1px solid #212529;
  color: #fff;
  padding: 14px 80px;
  font-size: 18px;
}
.shopping-cart-right span {
  font-size: 20px;
  margin-right: 15px;
}
.shopping-cart-right {
  margin-top: 50px;
}
section.shopping-cart {
  margin-top: 50px;
}
tr.shoppingCartProd img {
  width: 100%;
  max-width: 90px;
}
.pull-left-text {
  color: #000;
  font-size: 14px !important;
}
tr.shoppingCartProd a:hover {
  text-decoration: none;
}
tr.shoppingCartProd a {
  display: flex;
}
section.checkout-table {
  margin-top: 70px;
}

section.checkout-payment {
  margin-top: 40px;
}
.col-12.col-md-6.hello span {
  margin-bottom: 15px;
  display: block;
  font-size: 18px;
}
.col-12.col-md-6.hello i {
  font-size: 23px;
}
ul.rating-product li {
  display: inline;
  margin-right: 4px;
}

ul.rating-product {
  padding: 0px;
  list-style: none;
}
