<section class="shop-sellers-sec">
  <div class="container">
    <div class="shop-seller-inner">
      <h2 class="heading">{{"Shop Best Sellers" | translate}}</h2>
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let item of productListForBestSellers">
          <div class="item">
            <div class="shop-inner-product">
              <img [src]="baseImageUrl + item.imagePath" />
              <div class="product-left-padding">
                <h3 *ngIf="currentLang=='en'">
                  {{ item.brandName }}
                </h3>
                <h3 *ngIf="currentLang=='ar'">
                  {{ item.brandNameInAr }}
                </h3>
                <p *ngIf="currentLang=='en'">{{ item.productName }}</p>
                <p *ngIf="currentLang=='ar'">{{ item.productNameInAr }}</p>

                <ul>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </ul>
                <h4>${{ item.price }}</h4>
                <h5 *ngIf="currentLang=='en'">{{ item.measure }}</h5>
                <h5 *ngIf="currentLang=='ar'">{{ item.measureInAr }}</h5>


                <!-- <button (click)="openAddToCart(item)" type="button" class="btn btn-demo" data-toggle="modal"
                  data-target="#myModal2">{{"Add To Bag" | translate}}</button>
                <button>{{"Consult a doctor" | translate}}</button> -->

                <button (click)="openAddToCart(item)" type="button" >{{"Add To Bag" | translate}}</button>
              <button>{{"Consult a doctor" | translate}}</button>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</section>



<!--Add To Bag Modal -->
<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="model-main">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel2">SHOPPING BAG</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>

        <div class="modal-body">
          <div class="shopping-bag-modal">
            <div class="bag-inner-sec" *ngFor="let item of cartItems">
              <img [src]="baseImageUrl + item?.productImage" />
              <div class="bag-right">
                <h2>
                  <b *ngIf="currentLang=='en'">{{ item?.brandName }}</b>
                  <b *ngIf="currentLang=='ar'">{{item?.brandNameInAr }}</b>
                </h2>
                <h5>
                  <b *ngIf="currentLang=='en'">{{ item?.productName }}</b>
                  <b *ngIf="currentLang=='ar'">{{ item?.productNameInAr }}</b>
                </h5>
                <h4>
                  <b>Price: ${{ item?.price }}</b>
                  <!-- <b>Price: ${{ brandProductDetails?.attributes.price }}
                    {{brandProductDetails.sizes[0].measure}}{{brandProductDetails.sizes[0].uom}}</b> -->
                </h4>
                <h4>
                  <b>Onty:{{ item?.qty }}</b>

                </h4>
                <h5>+ <span>1</span> -</h5>
              </div>
            </div>
            <div class="free-samples">
              <h2>SELECT 2 FREE SAMPLES</h2>
              <ul>
                <li> <img
                    src="https://dermaquestapi.azurewebsites.net/ProductImages/16a70082-a067-41ea-93e1-8084ad71b5cc.jpg">
                  <p>Pro-Collagen Marine Cream </p>
                  <h6>2ml</h6>
                  <button type="button" class="btn btn-primary">ADD</button>
                </li>
                <li> <img
                    src="https://dermaquestapi.azurewebsites.net/ProductImages/16a70082-a067-41ea-93e1-8084ad71b5cc.jpg">
                  <p>Pro-Collagen Marine Cream </p>
                  <h6>2ml</h6>
                  <button type="button" class="btn btn-primary">ADD</button>
                </li>

                <li> <img
                    src="https://dermaquestapi.azurewebsites.net/ProductImages/16a70082-a067-41ea-93e1-8084ad71b5cc.jpg">
                  <p>Pro-Collagen Marine Cream </p>
                  <h6>2ml</h6>
                  <button type="button" class="btn btn-primary">ADD</button>
                </li>
                <li> <img
                    src="https://dermaquestapi.azurewebsites.net/ProductImages/16a70082-a067-41ea-93e1-8084ad71b5cc.jpg">
                  <p>Pro-Collagen Marine Cream </p>
                  <h6>2ml</h6>
                  <button type="button" class="btn btn-primary">ADD</button>
                </li>

              </ul>
            </div>
          </div>

          <div class="promotional-code">


            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                      aria-expanded="true" aria-controls="collapseOne">

                      ADD A PROMOTIONAL CODE <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <input type="text" class="form-control" placeholder="" aria-label="Username"
                      aria-describedby="basic-addon1">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cost-block " *ngIf="cart">
            <div class="cart-subtotal">
              <div class="row">
                <div class="col">Subtotal</div>
                <div class="col cart-subtotal-value">{{cart.subTotal}}</div>
              </div>
            </div>
            <div class="price-line cart-sub-total row">
              <div class="col">Shipping </div>
              <div class="col"><i>calculated in checkout</i></div>
            </div>
            <div class="price-line cart-grand-total row">
              <div class="col">Total Discounts</div>
              <div class="col"><b>£{{cart.totalDiscounts}}</b></div>
            </div>
            <div class="price-line cart-grand-total row">
              <div class="col"><b>Estimated Total</b></div>
              <div class="col"><b>£{{cart.cartTotal}}</b></div>
            </div>
         
            <div class="cart-link-wrapper">
              <button   [routerLink]="['/cart/checkout']"
              routerLinkActive="router-link-active" type="button" class="btn btn-secondary btn-block btn-lg">Checkout</button>
            </div>
          </div>


        </div>

      </div><!-- modal-content -->
    </div>
  </div><!-- modal-dialog -->
</div>
<!-- End Add To Bag Modal -->

