<!-- Review -->
<section class="reviews-sec">
    <div class="container">
      <form class="example" action="action_page.php">
        <input type="text" placeholder="Search topics and reviews" name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>

      <h2>Reviews</h2>
      <div class="review-inner-sec">
        <div class="row">
          <div class="col-md-6">
            <div class="review-detail-left">
              <div class="review-cal">
                <h3>20 Review</h3>
                <p>Select a row to filter reviews.</p>
              </div>
              <ul>
                <li> 5  <i class="fa fa-star" aria-hidden="true"></i>
                </li>

                <li> 4  <i class="fa fa-star" aria-hidden="true"></i>
                </li>
                <li> 3  <i class="fa fa-star" aria-hidden="true"></i></li>
                <li> 2  <i class="fa fa-star" aria-hidden="true"></i></li>
                <li> 1  <i class="fa fa-star" aria-hidden="true"></i></li>
  
              </ul>
            </div>
            <mat-progress-bar mode="determinate" color="warn" value="15"></mat-progress-bar>
            <progress-bar [progress]="100" [color]="'#488aff'">
            </progress-bar>
          </div>
          <div class="col-md-3">
            <div class="rating">
              <ul><i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span> 4.7 / 5 stars</span></ul>
                <h3>87% <span>Would recommend</span></h3>
               
            </div>
            
          </div>
          <div class="col-md-3">
            <button type="button" class="btn write-review" data-toggle="modal" data-target="#exampleModalreview"> Write a review </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Review -->
  <!-- Modal -->
<div class="modal fade" id="exampleModalreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalreview" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="bag-inner-sec" style="display: block;">
          <div class="row">
          <div class="col-md-3">
          <!-- <img [src]="baseImageUrl + brandProductDetails?.imagePaths[0]" /> -->
          </div>
          <div class="col-md-9">
          <div class="bag-right">
            <h2>
              <b ></b>
              <b ></b>
            </h2>
            <h5>
              <b ></b>
              <b ></b>
            </h5>

            <div class="overall-rating">
             <h6>Required fields are marked with *</h6>
             <ul>
              <h3> Overall Rating*</h3>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <span>Click to rate!</span>
             </ul>
            </div>
            <div class="form-group review-title">
              <label for="exampleInputEmail1">Review Title*</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
            </div>
            <div class="form-group review-title">
              <label for="exampleFormControlTextarea1">
                Review*</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder=""></textarea>
            </div>
            <div class="form-group review-title">
              <label for="exampleFormControlTextarea1">
                Would you recommend this product to a friend?</label>
             <button>Yes</button>  <button>No</button>
            </div>
            <div class="row review-title">
              <div class="col">
                <label for="exampleFormControlTextarea1">
                  Nickname</label>
                <input type="text" class="form-control" placeholder="*">
              </div>
              <div class="col">
                <label for="exampleFormControlTextarea1">
                  Location*</label>
                  
                <input type="text" class="form-control" placeholder="">
              </div>
              <div class="w-100"></div>
              <div class="col">
                <label for="exampleFormControlTextarea1">
                  Email*</label>
                  
                <input type="text" class="form-control" placeholder="">
              </div>

            </div>
          
            <div class="row review-title review-select">
              <div class="col">
                <label for="exampleFormControlTextarea1">
                  Age Range? </label>
              
              </div>
              <div class="col">
             
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>

            </div>
            <div class="row review-title review-select">
              <div class="col">
                <label for="exampleFormControlTextarea1">
                Skin Tone? </label>
              
              </div>
              <div class="col">
             
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>

            </div>
            <div class="row review-title review-select">
              <div class="col">
                <label for="exampleFormControlTextarea1">
                  How long have you been using Elemis products ? </label>
              
              </div>
              <div class="col">
             
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
            </div>

            <div class="row review-title review-select" style="display: block; border: none;">
              <label for="exampleFormControlTextarea1">
                Would you recommend Elemis to a friend? </label>
                <ul>
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                  <li>6</li>
                  <li>7</li>
                  <li>8</li>
                  <li>8</li>
                  <li>9</li>
                  <li>10</li>
                </ul>
            
                  <label for="exampleFormControlTextarea1">
                    Please tell us why (will not appear on our site)</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder=""></textarea>
               
            </div>
            <div class="form-check review-title">
              <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
              <label class="form-check-label" for="disabledFieldsetCheck">
                I agree to the 
              </label>
            </div>
            <p>You may receive emails regarding this submission. Any emails will include the ability to opt-out of future communications.</p>
            <button type="button" aria-label="Post Review" aria-describedby="bv-casltext-review" class="bv-form-actions-submit bv-submit bv-focusable bv-submission-button-submit" name="bv-submit-button" tabindex="0">Post Review</button>
      
           </div>
          </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>
</div>