<footer class="footer-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="footer-logo">
          <img src="./assets/images/logo.png" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-about">
          <h5>{{ "ABOUT" | translate }}</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit dignissim qui blandit praesent luptatum
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-about">
          <h5>{{ "NAVIGATION" | translate }}</h5>
          <ul>
            <li>
              <a (click)="gotoPage('brand/all-brands')">{{ "Shop" | translate }}</a>
            </li>
            <li>
              <a (click)="gotoPage('blog')">{{ "Blog" | translate }}</a>
            </li>
            <li>
              <a (click)="gotoPage('about-us')">{{ "About" | translate }}</a>
            </li>
            <li>
              <a (click)="gotoPage('contact-us')">{{
                "Contact" | translate
              }}</a>
            </li>
            <li>
              <a (click)="gotoPage('login')">{{
                "Account Login" | translate
              }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-about">
          <h5>{{ "INFO" | translate }}</h5>
          <ul>
            <li>
              <a (click)="gotoPage('faq')">{{ "Faqs" | translate }}</a>
            </li>
            <li>
              <a (click)="gotoPage('privacy-policy')">{{
                "Privacy & Policies" | translate
              }}</a>
            </li>

            <li>
              <a (click)="gotoPage('policies')">{{
                "Policies & Returns" | translate
              }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <p class="copyright">{{ "Copyright Since" | translate }} 2018-2021</p>
  </div>
</footer>
