<section class="shopping-cart">
  <div class="container">
    <div class="row">
      <div class="col-md-6 shopping-cart-left">
        <h3>{{"Shopping Cart" | translate}}</h3>
        <a (click)="gotoPage('products')"><button>{{"Countinue shopping" | translate}}</button></a>
      </div>
      <div class="col-md-6 shopping-cart-right">
        <span>{{"TOTAL" | translate}} ${{subTotal}}</span> <button>{{"Checkout" | translate}}</button>
      </div>
    </div>
  </div>
</section>
<section class="checkout-table">
  <div class="container">
    <div class="table-responsive">
      <form>
        <table class="table" id="mainTable">
          <tbody>
            <tr class="tableHeader">
              <th scope="col" class="cartItems">{{"items in your order" | translate}}</th>
              <th scope="col">{{"Dermastation Subscriptions" | translate}}</th>
              <th scope="col" class="text-center">{{"qty" | translate}}</th>
              <th scope="col" class="text-center">{{"Price" | translate}}</th>
              <th scope="col" class="text-right">{{"Total" | translate}}</th>
              <th scope="col" class="text-right">{{"Tax Rate" | translate}}</th>
              <th scope="col" class="text-right">{{"Remove" | translate}}</th>
              <!-- <p>{{"Remove" | translate}}</p> -->

            </tr>

            <tr class="shoppingCartProd" *ngFor="let item of cartItems">
              <th scope="row">
                <a (click)="productDetails(item)"
                  
                  data-id="80508"
                  aria-label="BECCA Cosmetics Collector's Edition Glow Body Stick product page"
                >
                  <div class="pull-left-img">
                    <img
                      [src]="baseImageUrl+item.productImage"
                      class="img-fluid"
                      alt="BECCA Cosmetics Collector's Edition Glow Body Stick"
                    />
                  </div>
                  <div class="pull-left-text" style="font-size: 0.875em">
                    <strong *ngIf="currentLang =='en'" style="font-size: 0.875em; font-family: sectra"
                      >{{item.brandName}}</strong
                    >
                    <strong *ngIf="currentLang =='ar'" style="font-size: 0.875em; font-family: sectra"
                    >{{item.brandNameInAr}}</strong
                  >
                    <h4 *ngIf="currentLang =='en'"
                      style="
                        margin: 1px 0 8px;
                        font-weight: 400;
                        color: #333;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        letter-spacing: -0.0125em;
                        font-size: 1.375em;
                      "
                    >
                      {{item.productName}}
                    </h4>
                    <h4 *ngIf="currentLang =='ar'"
                    style="
                      margin: 1px 0 8px;
                      font-weight: 400;
                      color: #333;
                      -webkit-font-smoothing: antialiased;
                      -moz-osx-font-smoothing: grayscale;
                      letter-spacing: -0.0125em;
                      font-size: 1.375em;
                    "
                  >
                    {{item.productNameInAr}}
                  </h4>
                    <small
                      style="
                        text-transform: uppercase;
                        color: #999;
                        letter-spacing: 0.0375em;
                      "
                      >Champagne Pop</small
                    >
                  </div>
                </a>
              </th>
              <td></td>
              <td class="qtySpinnerCell">
                <span class="custom-dropdown custom-dropdown--white">
                  <select
                    class="custom-dropdown__select custom-dropdown__select--white quantityDesktop"
                    prod-id="Q_80508"
                    selected-value="1"
                    value="1"
                    aria-label="select quantity"
                  >
                    <option >{{item.qty}}</option>
                    <!-- <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option> -->
                  </select>
                </span>
              </td>
              <td class="text-right">
                <span class="totalDiscount">Was </span>
                <strong>${{item.price}}</strong>
              </td>
              <td class="text-right">
                <span class="totalDiscount"
                  ><strong class="green">${{item.totalCost}}</strong></span
                >
              </td>
              <td class="text-right">
                <span class="totalDiscount"
                  ><strong class="green">${{item.taxRate}}</strong></span
                >
              </td>
              <td class="text-right">
            
                  <i style="cursor: pointer;" (click)="deleteCartProduct(item.cartItemId)"
                    class="fa fa-times-circle"
                    prod-id="D_80508"
                    aria-hidden="true"
                  ></i>
              </td>
            </tr>

          </tbody>
        </table>
      </form>
      <i
        class="fa fa-spin fa-spinner cart_loader"
        aria-hidden="true"
        style="
          margin: 0px auto;
          text-align: center;
          display: none;
          font-size: 40px;
        "
      ></i>
    </div>
  </div>
</section>
<section class="checkout-payment">
  <div class="container">
    <div class="row" id="checkoutArea">
      <div class="col-12 col-md-6 hello">
        <div class="row mx-1">
          <div class="col-1">
            <i class="fa fa-truck fa-flip-horizontal" aria-hidden="true"></i>
          </div>
          <div class="col-11">
            <span>FREE Exchanges &amp; Easy Returns</span>
          </div>

          <div class="col-1">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </div>
          <div class="col-11">
            <span
              >Dermstore has
              <a
                
                data-toggle="modal"
                data-target="#secureCheckoutModal"
                class="green"
                >Secure Transactions</a
              ></span
            >
          </div>
          <div class="col-1">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
          <div class="col-11">
            <!--                                  DSTR-4440 added for covid -->

            <span
              >Questions?
              <a class="green"
                >Contact Us</a
              ></span
            >
            <!--                                  <span>Questions? <a  data-toggle="modal" data-target="#customerCareModal" class="green">Contact Us</a></span>-->

            <!--                                  DSTR-4440 added for covid -->
          </div>
        </div>
      </div>
      <!-- .col -->
      <div class="col-12 offset-md-1 col-md-5">
        <table id="subTotalTable" class="text-right table" >
          <tbody>
            <tr>
              <td class="border-right">{{"Subtotal" | translate}}</td>
              <td><span class="updateProducts">${{subTotal}}</span></td>
            </tr>
            <tr class="">
              <td class="shippingChoice border-right">{{"Free Shipping" | translate}}</td>
              <td class="shippingPrice">$0.00</td>
            </tr>

            <tr class="">
              <td class="border-right">
                <button
                  class="promoPop green"
                  style="
                    border: none;
                    background-color: transparent;
                    padding: 0px;
                  "
                  aria-label="enter promo code"
                  data-toggle="popover"
                  data-placement="top"
                  data-content="
                    <div>
                      <p><strong>Enter Promo Code</strong></p>
                      <p class='alert alert-danger displayPromoError' style='display: none;'>Sorry, invalid code. Try again.</p>
                      <p class='alert alert-success displayPromoSuccess' style='display: none;'></p>
                    </div>
                    <div>
                      <form class='form-inline' id='promoForm'>
                        <div class='form-group'>
                          <input type='text' class='form-control' value='' aria-label='enter promo code'>
                          <button type='submit' class='btn btn-dermstore' aria-label='apply'>apply</button>
                        </div>
                      </form>
                    </div>"
                  data-original-title=""
                  title=""
                >
                  + {{"Promo Code" | translate}}
                </button>
              </td>

              <td><strong class="updatePromo orange">-$0.00</strong></td>
            </tr>
            <tr>
              <td class="border-right giftCardText" style="display: none">
                <span>Gift Card</span>
              </td>
              <td class="updateGiftCard" style="display: none"></td>
            </tr>
            <tr class="">
              <td class="border-right">
                <button
                  style="
                    border: none;
                    background-color: transparent;
                    padding: 0px;
                    margin-bottom: 10px;
                  "
                  class="estTax green"
                  aria-label="Estimate tax"
                >
                  {{"Estimate Tax" | translate}}
                </button>
                <form id="estTaxForm" style="display: none">
                  <div class="form-group">
                    <select class="form-control">
                      <option value="" selected=""></option>
                      <option value="AL">AL</option>
                      <option value="AK">AK</option>
                      <option value="AZ">AZ</option>
                      <option value="AR">AR</option>
                      <option value="CA">CA</option>
                      <option value="CO">CO</option>
                      <option value="CT">CT</option>
                      <option value="DE">DE</option>
                      <option value="DC">DC</option>
                      <option value="FL">FL</option>
                      <option value="GA">GA</option>
                      <option value="HI">HI</option>
                      <option value="ID">ID</option>
                      <option value="IL">IL</option>
                      <option value="IN">IN</option>
                      <option value="IA">IA</option>
                      <option value="KS">KS</option>
                      <option value="KY">KY</option>
                      <option value="LA">LA</option>
                      <option value="ME">ME</option>
                      <option value="MD">MD</option>
                      <option value="MA">MA</option>
                      <option value="MI">MI</option>
                      <option value="MN">MN</option>
                      <option value="MS">MS</option>
                      <option value="MO">MO</option>
                      <option value="MT">MT</option>
                      <option value="NE">NE</option>
                      <option value="NC">NC</option>
                      <option value="ND">ND</option>
                      <option value="NV">NV</option>
                      <option value="NH">NH</option>
                      <option value="NJ">NJ</option>
                      <option value="NM">NM</option>
                      <option value="NY">NY</option>
                      <option value="OH">OH</option>
                      <option value="OK">OK</option>
                      <option value="OR">OR</option>
                      <option value="PA">PA</option>
                      <option value="RI">RI</option>
                      <option value="SC">SC</option>
                      <option value="SD">SD</option>
                      <option value="TN">TN</option>
                      <option value="TX">TX</option>
                      <option value="UT">UT</option>
                      <option value="VT">VT</option>
                      <option value="VA">VA</option>
                      <option value="WA">WA</option>
                      <option value="WV">WV</option>
                      <option value="WI">WI</option>
                      <option value="WY">WY</option>
                      <option value="PR">PR</option>
                      <option value="VI">VI</option>
                      <option value="GU">GU</option>
                      <option value="AA">AA</option>
                      <option value="AP">AP</option>
                      <option value="AE">AE</option>
                    </select>
                  </div>
                </form>
              </td>
              <td class="estTaxTotal">$0.00</td>
            </tr>
            <tr class="last">
              <td class="border-right"><strong>{{"Total" | translate}}</strong></td>
              <td class="updatePrice">${{cartTotalAmmount}}</td>
            </tr>
          </tbody>
        </table>
        <div id="bottomCheckout" class="text-right">
          <button
            aria-label="Checkout"
            class="btn btn-green checkoutBtn"
            style="margin-bottom: 10px; background-color: #212529; color: white"
          >
            {{"Checkout" | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
