<section class="product-detail-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-5 product-detail-left-sec">
        <lib-ngx-image-zoom
          [thumbImage]="myThumbnail"
          [magnification]="1"
          [enableScrollZoom]="true"
        ></lib-ngx-image-zoom>
      </div>
      <div class="col-md-7 product-detail-right-sec">
        <h2>
          {{ brandProductDetails?.productName }}
        </h2>
        <p>
          consectetuer adipiscing elit, <br />sed consectetuer adipiscing elit,
          sed
        </p>
        <ul>
          <rating [(ngModel)]="rate" [readonly]="isReadonly"></rating>
        </ul>
        <h3>
          ${{ brandProductDetails?.price }}
          <span>- {{ brandProductDetails?.measure }}</span>
        </h3>
        <div class="add-cart">
          <span>- 1 +</span> <button>Add to Bag</button> <a>Consult</a>
        </div>
        <h4>DEEP CLEANSES, SOFTENS, NOURISHES</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit,<br />
          sed diam nonummy nibh euismod tincidunt ut laoreet <br />dolore magna
          aliquam erat volut
        </p>
      </div>
    </div>
  </div>
</section>

<section class="about-this-product">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3>About This Product</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
          ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
          Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
          molestie consequat, vel illum dolore eu feugiat nulla facilisis at
          vero eros et accumsan et iusto odio dignissim qui blandit praesent
          luptatum zzril delenit augue duis
        </p>
      </div>
      <div class="col-lg-6">
        <h3>Ingredients</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
          ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
          Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
          molestie consequat, vel illum dolore eu feugiat nulla facilisis at
          vero eros et accumsan et iusto odio dignissim qui blandit praesent
          luptatum zzril delenit augue duis
        </p>
      </div>
    </div>
  </div>
</section>

<section class="how-to-use">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2>HOW TO USE</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore
        </p>
        <h2>Step 1</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore
        </p>
        <h2>Step 2</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore
        </p>
      </div>
      <div class="col-md-7">
        <img src="assets/images/how-to-use.jpg" />
      </div>
    </div>
  </div>
</section>

<section class="shop-sellers-product-sec shop-sellers-pro-detail">
  <div class="container">
    <h2 class="heading">Shop Pro-Collagen</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
      wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
      lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
      iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
      illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto
      odio dignissim qui blandit praesent luptatum zzril delenit augue duis
    </p>
    <div class="owl-carousel owl-theme">
      <div class="item">
        <div class="shop-inner-product">
          <img src="assets/images/product-1.jpg" />
          <div class="product-left-padding">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>$230.00</h4>
            <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
            <a>Add To Bag</a> <button>Consult a doctor</button>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="shop-inner-product">
          <img src="assets/images/product-2.jpg" />
          <div class="product-left-padding">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>$230.00</h4>
            <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
            <a>Add To Bag</a> <button>Consult a doctor</button>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="shop-inner-product">
          <img src="assets/images/product-3.jpg" />
          <div class="product-left-padding">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>$230.00</h4>
            <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
            <a>Add To Bag</a> <button>Consult a doctor</button>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="shop-inner-product">
          <img src="assets/images/product-4.jpg" />
          <div class="product-left-padding">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>$230.00</h4>
            <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
            <a>Add To Bag</a> <button>Consult a doctor</button>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="shop-inner-product">
          <img src="assets/images/product-5.jpg" />
          <div class="product-left-padding">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>$230.00</h4>
            <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
            <a>Add To Bag</a> <button>Consult a doctor</button>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="shop-inner-product">
          <img src="assets/images/product-1.jpg" />
          <div class="product-left-padding">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>$230.00</h4>
            <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
            <a>Add To Bag</a> <button>Consult a doctor</button>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="shop-inner-product">
          <img src="assets/images/product-2.jpg" />
          <div class="product-left-padding">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>$230.00</h4>
            <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
            <a>Add To Bag</a> <button>Consult a doctor</button>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="shop-inner-product">
          <img src="assets/images/product-3.jpg" />
          <div class="product-left-padding">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>$230.00</h4>
            <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
            <a>Add To Bag</a> <button>Consult a doctor</button>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="shop-inner-product">
          <img src="assets/images/product-4.jpg" />
          <div class="product-left-padding">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>$230.00</h4>
            <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
            <a>Add To Bag</a> <button>Consult a doctor</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-keep-in-touch></app-keep-in-touch>
