  
  <section class="blog-main-sec">
    <div class="container" id="top">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div
              class="col-md-12 blog-detail-inner"
              *ngFor="
                let item of blogsData
                  | paginate: { itemsPerPage: 3, currentPage: page }
              "
            >
              <div class="blog-inner-sec">
                <div class="row">
                  <div class="col-md-4 blog-inner-sec-img">
                    <img [src]="baseImageUrl + item.blogImage" />
                  </div>
                  <div class="col-md-8 blog-inner-sec-col">
                    <div class="blog-inner-text">
                      <h2 *ngIf="currentLang == 'en'">{{item.productCategory}}</h2>
                      <h2 *ngIf="currentLang == 'ar'">{{item.productCategoryInAr}}</h2>
                      <h3 *ngIf="currentLang == 'en'">{{ item.title }}</h3>
                      <h3 *ngIf="currentLang == 'ar'">{{ item.titleInAr }}</h3>
                      <h3 *ngIf="currentLang == 'en'">{{ item.authorName }}</h3>
                      <h3 *ngIf="currentLang == 'ar'">
                        {{ item.authorNameInAr }}
                      </h3>
                      <h3>{{ item.createdDate }}</h3>
                      <a (click)="readMore(item)">{{
                        "Read More" | translate
                      }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
         <div class="col-md-4">
          <div class="blog-right-sidebar">
            <form action="#">
              <input type="text" placeholder="{{ 'Search..' | translate }}" />
            </form>
            <div class="blog__sidebar__item">
              <h4>{{ "Categories" | translate }}</h4>
              <ul>
                <li>
                  <a
                    (click)="goTotop()"
                    [routerLink]="['/blog/all-blogs']"
                    routerLinkActive="router-link-active"
                    >{{"All" | translate}}</a
                  >
                </li>
                <li>
                  <a (click)="getSkinCareList()">{{
                    "Skin Care" | translate
                  }}</a>
                </li>
                <li>
                  <a (click)="getHairCareList()">{{
                    "Hair Care" | translate
                  }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div> 
      </div>
    </div>
    <pagination-controls
      (click)="goTotop()"
      (pageChange)="page = $event"
    ></pagination-controls>
  </section>
  
  <app-keep-in-touch></app-keep-in-touch>
  