<section class="browse-category">
  <div class="container">
    <h2 class="heading">{{"Browse Categories" | translate}}</h2>
    <owl-carousel-o [options]="customOptions">
      <ng-template
        carouselSlide
        *ngFor="let browseData of dataList"
      >
        <div class="item" (click)="productDetails(browseData)">
          <div class="shop-inner-product">
            <img [src]="'https://dermaquestapi.azurewebsites.net/' + browseData.categoryImage" />
            <div class="product-left-padding">
              <h3 *ngIf="currentLang=='en'">
                {{ browseData.categoryName }}
              </h3>
              <h3 *ngIf="currentLang=='ar'">
                {{ browseData.categoryNameInAr }}
              </h3>

              <!-- <button (click)="productDetails(browseData)">{{ "Add To Bag" | translate }}</button> <button>{{"Consult a doctor" | translate}}</button> -->
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
    <!-- <div class="row">
      <div class="col" *ngFor="let browseData of dataList">
        <div class="browse-category-inner">
          <img [src]="'https://dermaquestapi.azurewebsites.net/' + browseData.imagePath" />
          <h3>
            {{browseData.brandName}}
          </h3>
          <a
            >{{browseData.productName}} <i class="fa fa-angle-right" aria-hidden="true"></i
          ></a>
         
        </div>
      </div>

    </div> -->
  </div>
</section>
