<!-- 

<section class="brand-name">
    <div class="container">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the
        1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book.
      </p>
    </div>
  </section>
  <section class="per-product-brand-detail">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <app-product-filter></app-product-filter>
        </div>
          <div class="col-md-9">
          <div class="per-product-brand-right">
            <div class="row" *ngIf="!isShownodata">
              <div
                class="col-md-4"
                *ngFor="let item of dataList"
                (click)="productDetails(item)"
  
              >
                <div class="shop-inner-product">
                  <img [src]="baseImageUrl + item.imagePath" />
                  <div class="product-left-padding">
                    <h3 >
                      {{ item?.brandName }}
                    </h3>
           
                    <p >
                      {{ item?.productName }}-({{ item?.measure }})
                    </p>
           
                    <ul>
                      <rating [(ngModel)]="rate" [readonly]="isReadonly"></rating>
                    </ul>
                    <h4>${{ item?.price }}</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="isShownodata">
              <h3>No Data To Show</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
   -->


<div class="skin-care-main">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>{{"Shop All Personal care" | translate}}</h3>
      </div>
      <div class="col-md-6">
        <div class="short-filter"><span _ngcontent-stq-c354="">
            <i _ngcontent-stq-c354="" aria-hidden="true" class="fa fa-filter"></i>{{"Filter" | translate}}</span>
          <select _ngcontent-stq-c354="" id="short-filter" name="cars">
            <option _ngcontent-stq-c354="" value="sort" ng-reflect-value="sort">{{"Sort By" | translate}}</option>
            <option _ngcontent-stq-c354="" class="ng-star-inserted">Best Sellers</option>
            <option _ngcontent-stq-c354="" class="ng-star-inserted">New</option>
            <option _ngcontent-stq-c354="" class="ng-star-inserted">Price Low to High</option>
            <option _ngcontent-stq-c354="" class="ng-star-inserted">Price High to Low</option>
            <option _ngcontent-stq-c354="" class="ng-star-inserted">Top Rated</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="skin-detail-products">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let personalItem of personalCareList">
        <div class="shop-inner-product">
          <img [src]="baseImageUrl+personalItem.imagePath" />
          <div class="product-left-padding">
            <h3 *ngIf="currentLang == 'en'">{{personalItem.brandName}}</h3>
            <h3 *ngIf="currentLang == 'ar'">{{personalItem.brandNameInAr}}</h3>

            <p *ngIf="currentLang == 'en'">{{personalItem.productName}}</p>
            <p *ngIf="currentLang == 'ar'">{{personalItem.productNameInAr}}</p>

            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>${{personalItem.price}}</h4>
            <h6><span *ngIf="currentLang == 'en'">{{personalItem.measure}}</span> 
              <span *ngIf="currentLang == 'ar'">{{personalItem.measureInAr}}</span>
              <span></span> <span></span></h6>
            <button (click)="openAddToCart(personalItem)" type="button">{{"Add To Bag" | translate}}</button>

          </div>
        </div>
      </div>
    </div>