@font-face {
    font-family: 'TheSans';
    src: url('TheSans-Bold.eot');
    src: url('TheSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('TheSans-Bold.woff2') format('woff2'),
        url('TheSans-Bold.woff') format('woff'),
        url('TheSans-Bold.ttf') format('truetype'),
        url('TheSans-Bold.svg#TheSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TheSans';
    src: url('TheSans-Plain.eot');
    src: url('TheSans-Plain.eot?#iefix') format('embedded-opentype'),
        url('TheSans-Plain.woff2') format('woff2'),
        url('TheSans-Plain.woff') format('woff'),
        url('TheSans-Plain.ttf') format('truetype'),
        url('TheSans-Plain.svg#TheSans-Plain') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TheSans';
    src: url('TheSans-Plain_1.eot');
    src: url('TheSans-Plain_1.eot?#iefix') format('embedded-opentype'),
        url('TheSans-Plain_1.woff2') format('woff2'),
        url('TheSans-Plain_1.woff') format('woff'),
        url('TheSans-Plain_1.ttf') format('truetype'),
        url('TheSans-Plain_1.svg#TheSans-Plain') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TheSans';
    src: url('TheSans-Bold_1.eot');
    src: url('TheSans-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('TheSans-Bold_1.woff2') format('woff2'),
        url('TheSans-Bold_1.woff') format('woff'),
        url('TheSans-Bold_1.ttf') format('truetype'),
        url('TheSans-Bold_1.svg#TheSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TheSans';
    src: url('TheSans-Plain_2.eot');
    src: url('TheSans-Plain_2.eot?#iefix') format('embedded-opentype'),
        url('TheSans-Plain_2.woff2') format('woff2'),
        url('TheSans-Plain_2.woff') format('woff'),
        url('TheSans-Plain_2.ttf') format('truetype'),
        url('TheSans-Plain_2.svg#TheSans-Plain') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TheSans';
    src: url('TheSans-Bold_2.eot');
    src: url('TheSans-Bold_2.eot?#iefix') format('embedded-opentype'),
        url('TheSans-Bold_2.woff2') format('woff2'),
        url('TheSans-Bold_2.woff') format('woff'),
        url('TheSans-Bold_2.ttf') format('truetype'),
        url('TheSans-Bold_2.svg#TheSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TheSans';
    src: url('TheSans-Plain_3.eot');
    src: url('TheSans-Plain_3.eot?#iefix') format('embedded-opentype'),
        url('TheSans-Plain_3.woff2') format('woff2'),
        url('TheSans-Plain_3.woff') format('woff'),
        url('TheSans-Plain_3.ttf') format('truetype'),
        url('TheSans-Plain_3.svg#TheSans-Plain') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TheSans';
    src: url('TheSans-Bold_3.eot');
    src: url('TheSans-Bold_3.eot?#iefix') format('embedded-opentype'),
        url('TheSans-Bold_3.woff2') format('woff2'),
        url('TheSans-Bold_3.woff') format('woff'),
        url('TheSans-Bold_3.ttf') format('truetype'),
        url('TheSans-Bold_3.svg#TheSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TheSans';
    src: url('TheSans-Plain_4.eot');
    src: url('TheSans-Plain_4.eot?#iefix') format('embedded-opentype'),
        url('TheSans-Plain_4.woff2') format('woff2'),
        url('TheSans-Plain_4.woff') format('woff'),
        url('TheSans-Plain_4.ttf') format('truetype'),
        url('TheSans-Plain_4.svg#TheSans-Plain') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TheSans';
    src: url('TheSans-Bold_4.eot');
    src: url('TheSans-Bold_4.eot?#iefix') format('embedded-opentype'),
        url('TheSans-Bold_4.woff2') format('woff2'),
        url('TheSans-Bold_4.woff') format('woff'),
        url('TheSans-Bold_4.ttf') format('truetype'),
        url('TheSans-Bold_4.svg#TheSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

