<section class="product-detail-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-5 product-detail-left-sec">
        <lib-ngx-image-zoom [thumbImage]="myThumbnail" [magnification]="2" [enableScrollZoom]="true" [enableLens]="true"
          [lensWidth]="200"></lib-ngx-image-zoom>
      </div>
      <div class="col-md-7 product-detail-right-sec">
        <h2 *ngIf="currentLang=='en'">
          {{ ingredientProductDetails?.attributes.brandName }}
        </h2>
        <h2 *ngIf="currentLang=='ar'">
          {{ ingredientProductDetails?.attributes.brandNameInAr }}
        </h2>
        <p *ngIf="currentLang =='en'">
          {{ ingredientProductDetails?.attributes.productName }}
        </p>
        <p *ngIf="currentLang =='ar'">
          {{ ingredientProductDetails?.attributes.productNameInAr}}
        </p>
        <h3>${{ ingredientProductDetails?.attributes.price }}</h3>
        <div class="add-cart">
          <select class="form-control" id="exampleFormControlSelect1" (change)="onSelectQuantity($event.target.value)">
            <option *ngFor="let item of quantityValue">{{ item.value }}</option>
          </select>
          <button (click)="openAddToCart(ingredientProductDetails)" type="button">{{"Add To Bag" | translate}}</button>
          <a>{{'Consult a doctor' | translate}}</a>
        </div>
        <h4>DEEP CLEANSES, SOFTENS, NOURISHES</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit,<br />
          sed diam nonummy nibh euismod tincidunt ut laoreet <br />dolore magna
          aliquam erat volut
        </p>
      </div>
    </div>
  </div>
</section>

<!-- About this PRODUCT &  INGREDIENTS-->

<section class="about-this-product">

  <div id="exTab1" class="">
    <ul class="nav nav-pills">
      <li class="active">
        <a href="#1a" data-toggle="tab">{{"ABOUT THIS PRODUCT" | translate}}</a>
      </li>
      <li>
        <a href="#2a" data-toggle="tab" *ngIf="currentLang=='en'">{{"INGREDIENTS" | translate}}</a>
        <a href="#2a" data-toggle="tab" *ngIf="currentLang=='ar'">{{"INGREDIENTS" | translate}}</a>
      </li>

    </ul>

    <div class="tab-content clearfix">

      <div class="tab-pane active" id="1a">
        <h3 *ngIf="currentLang=='en'">{{ ingredientProductDetails?.attributes.description }}</h3>
        <h3 *ngIf="currentLang=='ar'">{{ ingredientProductDetails?.attributes.descriptionInAr }}</h3>

      </div>
      <div class="tab-pane" id="2a">
        <h3 *ngIf="currentLang=='en'">
          {{ ingredientProductDetails?.attributes.ingredientsList[0] }}
        </h3>
        <h3 *ngIf="currentLang=='ar'">
          {{ ingredientProductDetails?.attributes.ingredientsListInAr[0] }}
        </h3>
      </div>

    </div>
  </div>

</section>
<!-- End About this PRODUCT &  INGREDIENTS-->

<section class="how-to-use">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2>{{"HOW TO USE" | translate}}</h2>
        <p *ngIf="currentLang == 'en'">{{ ingredientProductDetails?.attributes.howToUse }}</p>
        <p *ngIf="currentLang == 'ar'">{{ ingredientProductDetails?.attributes.howToUseInAr }}</p>

      </div>
      <div class="col-md-7">
        <img src="assets/images/how-to-use.jpg" />
      </div>
    </div>
  </div>
</section>

<section class="shop-sellers-product-sec shop-sellers-pro-detail">
  <div class="container">
    <h2 class="heading">Shop Pro-Collagen</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
      wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
      lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
      iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
      illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto
      odio dignissim qui blandit praesent luptatum zzril delenit augue duis
    </p>
    <div class="owl-carousel owl-theme">
      <div class="item">
        <div class="shop-inner-product">
          <img src="assets/images/product-1.jpg" />
          <div class="product-left-padding">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>$230.00</h4>
            <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
            <a>Add To Bag</a> <button>Consult a doctor</button>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="shop-inner-product">
          <img src="assets/images/product-2.jpg" />
          <div class="product-left-padding">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>$230.00</h4>
            <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
            <a>Add To Bag</a> <button>Consult a doctor</button>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="shop-inner-product">
          <img src="assets/images/product-3.jpg" />
          <div class="product-left-padding">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>$230.00</h4>
            <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
            <a>Add To Bag</a> <button>Consult a doctor</button>
          </div>
        </div>
      </div>

      <app-keep-in-touch></app-keep-in-touch>
    </div>
  </div>
</section>

<!-- Review -->
<section class="reviews-sec">
  <div class="container">
    <form class="example" action="action_page.php">
      <input type="text" placeholder="Search topics and reviews" name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <h2>Reviews</h2>
    <div class="review-inner-sec">
      <div class="row" *ngIf="review">
        <div class="col-md-6">
          <div class="review-detail-left">
            <div class="review-cal">
              <h3>{{review.totalReviews}}Review</h3>
              <p>Select a row to filter reviews.</p>
            </div>
            <ul>
              <li> 5 <i class="fa fa-star" aria-hidden="true"></i>
                <progress-bar [progress]="review.percentReviewsFiveStar" [color]="'#0f213a'">
                </progress-bar>
                <div class="review-number">
                  {{review.totalReviewsFiveStar}}
                </div>
              </li>

              <li> 4 <i class="fa fa-star" aria-hidden="true"></i>
                <progress-bar [progress]="review.percentReviewsFourStar" [color]="'#0f213a'">
                </progress-bar>
                <div class="review-number">
                  {{review.totalReviewsFourStar}}
                </div>
              </li>
              <li> 3 <i class="fa fa-star" aria-hidden="true"></i>
                <progress-bar [progress]="review.percentReviewsThreeStar" [color]="'#0f213a'">
                </progress-bar>
                <div class="review-number">
                  {{review.totalReviewsThreeStar}}
                </div>
              </li>
              <li> 2 <i class="fa fa-star" aria-hidden="true"></i>
                <progress-bar [progress]="review.percentReviewsTwoStar" [color]="'#0f213a'">
                </progress-bar>
                <div class="review-number">
                  {{review.totalReviewsTwoStar}}
                </div>
              </li>
              <li> 1 <i class="fa fa-star" aria-hidden="true"></i>
                <progress-bar [progress]="review.percentReviewsOneStar" [color]="'#0f213a'">
                </progress-bar>
                <div class="review-number">
                  {{review.totalReviewsOneStar}}
                </div>
              </li>

            </ul>
          </div>

        </div>
        <div class="col-md-3">
          <div class="rating">
            <ul><i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <span> {{review.averageRatings}} / 5 stars</span>
            </ul>
            <h3>{{review.percentWillRecommend}}% <span>Would recommend</span></h3>

          </div>

        </div>
        <div class="col-md-3">
          <button type="button" class="btn write-review" data-toggle="modal" data-target="#exampleModalreview"> Write a
            review </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Review -->





<!-- Modal -->
<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="model-main">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel2">SHOPPING BAG</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>

        <div class="modal-body">
          <div class="shopping-bag-modal">
            <div class="bag-inner-sec">
              <img [src]="baseImageUrl + ingredientProductDetails?.imagePaths[0]" />
              <div class="bag-right">
                <h2>
                  <b *ngIf="currentLang == 'en'">{{ ingredientProductDetails?.attributes.brandName }}</b>
                  <b *ngIf="currentLang == 'ar'">{{ ingredientProductDetails?.attributes.brandNameInAr }}</b>
                </h2>
                <h5>
                  <p *ngIf="currentLang == 'en'">{{ ingredientProductDetails?.attributes.productName }}</p>
                  <p *ngIf="currentLang == 'ar'">{{ ingredientProductDetails?.attributes.productNameInAr }}</p>
                </h5>
                <h4>
                  <b>Price: ${{ ingredientProductDetails?.attributes.price }}</b>
                  <!-- <b>Price: ${{ brandProductDetails?.attributes.price }}
                    {{brandProductDetails.sizes[0].measure}}{{brandProductDetails.sizes[0].uom}}</b> -->
                </h4>
                <!-- <h5>+ <span>1</span> -</h5> -->
              </div>
            </div>
            <div class="bag-inner-sec" *ngFor="let item of cartItems">
              <img [src]="baseImageUrl+item.productImage">
              <div class="bag-right">
                <h2>
                  <strong *ngIf="currentLang =='en'"
                    style="font-size: 0.875em; font-family: sectra">{{item.brandName}}</strong>
                  <strong *ngIf="currentLang =='ar'"
                    style="font-size: 0.875em; font-family: sectra">{{item.brandNameInAr}}</strong>
                </h2>
                <h5>
                  <b *ngIf="currentLang=='en'">{{item.productName}}</b>
                  <b *ngIf="currentLang=='ar'">{{item.productNameInAr}}</b>
                </h5>
                <h4>
                  <b>Price: ${{item.price }}
                  </b>
                </h4>
                <h5>+ <span>{{item.qty}}</span> -</h5>

              </div>
            </div>

            <div class="free-samples">
              <h2>SELECT 2 FREE SAMPLES</h2>
              <ul>
                <li> <img
                    src="https://dermaquestapi.azurewebsites.net/ProductImages/16a70082-a067-41ea-93e1-8084ad71b5cc.jpg">
                  <p>Pro-Collagen Marine Cream </p>
                  <h6>2ml</h6>
                  <button type="button" class="btn btn-primary">ADD</button>
                </li>
                <li> <img
                    src="https://dermaquestapi.azurewebsites.net/ProductImages/16a70082-a067-41ea-93e1-8084ad71b5cc.jpg">
                  <p>Pro-Collagen Marine Cream </p>
                  <h6>2ml</h6>
                  <button type="button" class="btn btn-primary">ADD</button>
                </li>

                <li> <img
                    src="https://dermaquestapi.azurewebsites.net/ProductImages/16a70082-a067-41ea-93e1-8084ad71b5cc.jpg">
                  <p>Pro-Collagen Marine Cream </p>
                  <h6>2ml</h6>
                  <button type="button" class="btn btn-primary">ADD</button>
                </li>
              </ul>
            </div>

          </div>

          <div class="promotional-code">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                      aria-expanded="true" aria-controls="collapseOne">

                      ADD A PROMOTIONAL CODE <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <input type="text" class="form-control" placeholder="" aria-label="Username"
                      aria-describedby="basic-addon1">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cost-block ">
            <div class="cart-subtotal">
              <div class="row">
                <div class="col">Subtotal</div>
                <div class="col cart-subtotal-value">£{{subTotal}}</div>
              </div>
            </div>
            <div class="price-line cart-sub-total row">
              <div class="col">Shipping </div>
              <div class="col"><i>{{shippingTotal}}</i></div>
            </div>
            <div class="price-line cart-sub-total row">
              <div class="col">Total Discounts </div>
              <div class="col"><i>{{totalDiscounts}}</i></div>
            </div>
            <div class="price-line cart-grand-total row">
              <div class="col"><b>Estimated Total</b></div>
              <div class="col"><b>£{{cartTotal}}</b></div>
            </div>
            <div class="cart-link-wrapper">
              <button [routerLink]="['/cart/checkout']" routerLinkActive="router-link-active" type="button"
                class="btn btn-secondary btn-block btn-lg">Checkout</button>
            </div>
          </div>
        </div>

      </div><!-- modal-content -->
    </div>
  </div><!-- modal-dialog -->
</div><!-- modal -->
<!-- modal -->