<section class="banner">
  <div class="container">
    <div class="banner-inner">
      <h1>
        {{ "At Dermastation" | translate }}<br />
        {{ "we feature a highly curated collection of" | translate }}<br />
        {{ "skin care products and sets." | translate }}
      </h1>
      <a routerLink="/offers" class="shop-btn">{{ "Shop Now" | translate }}</a>
    </div>
  </div>
</section>
