<section class="brand-name">
  <div class="container">
    <h2 *ngIf="currentLang == 'en'">{{ titleValue?.concernName }}</h2>
    <h2 *ngIf="currentLang == 'ar'">{{ titleValue?.concernNameInAr }}</h2>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>
  </div>
</section>
<section class="per-product-brand-detail">
  <div class="container">
    <div class="row">
      <!-- Product Filter Start -->
      <div class="col-md-3">
        <app-product-filter></app-product-filter>
      </div>
      <!-- Product Filter End -->
      <div class="col-md-9">

        <!-- Product Sort Start -->
        <div class="short-filter">
          <span><i class="fa fa-filter" aria-hidden="true"></i>{{"Filter" | translate}}</span>
          <select id="short-filter" name="cars" (change)="onChangeFilter($event)">
            <option value="sort">{{"Sort By" | translate}}</option>
            <option *ngFor="let item of filter">{{item.name}}</option>
            <!-- <option value="2">Price-Low To High</option>
                            <option value="3">Price-High To Low</option>
                            <option value="4">New</option>
                            <option value="5">Top Rated</option>
                            <option value="6">Free Gift</option> -->

          </select>
        </div>
        <!-- Product Sort End -->

        <div class="per-product-brand-right">
          <div class="row" *ngIf="!isShownodata">
            <div class="col-md-4" *ngFor="let item of concernData" (click)="productDetails(item)">
              <div class="shop-inner-product">
                <img [src]="baseImageUrl + item.imagePath" />
                <div class="product-left-padding">
                  <h3 *ngIf="currentLang=='en'">{{ item?.brandName }}</h3>
                  <h3 *ngIf="currentLang=='ar'">{{ item?.brandNameInAr }}</h3>

                  <p *ngIf="currentLang=='en'">{{ item?.productName }} {{ item?.measure }}</p>
                  <p *ngIf="currentLang=='ar'">{{ item?.productNameInAr }} {{ item?.measureInAr }}</p>

                  <ul>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                  </ul>
                  <h4>${{ item?.price }}</h4>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="isShownodata">
            <h3>{{ "No Data To Show" | translate }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>