

    <div class="modal-content modal-add-tobag">

      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel2">{{"SHOPPING BAG" | translate}}</h4>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button> -->
            <button class="close" mat-button mat-dialog-close>X</button>

      </div>

      <div class="modal-body" >
        <div class="shopping-bag-modal">
          <div class="bag-inner-sec" *ngFor="let item of cartItems">
            <img [src]="baseImageUrl + item?.productImage" />
            <div class="bag-right">
              <h2>
                <b *ngIf="currentLang=='en'">{{ item?.brandName }}</b>
                <b *ngIf="currentLang=='ar'">{{item?.brandNameInAr }}</b>
              </h2>
              <h5>
                <b *ngIf="currentLang=='en'">{{ item?.productName }}</b>
                <b *ngIf="currentLang=='ar'">{{ item?.productNameInAr }}</b>
              </h5>
              <h4>
                <b>Price: ${{ item?.price }}</b>
                <!-- <b>Price: ${{ brandProductDetails?.attributes.price }}
                  {{brandProductDetails.sizes[0].measure}}{{brandProductDetails.sizes[0].uom}}</b> -->
              </h4>
              <h4>
                <b>Onty:{{ item?.qty }}</b>

              </h4>
              <h5>+ <span>1</span> -</h5>
            </div>
          </div>
          <!-- <div class="bag-inner-sec">
            <img src="https://dermaquestapi.azurewebsites.net/ProductImages/16a70082-a067-41ea-93e1-8084ad71b5cc.jpg">
            <div class="bag-right">
              <h2>Essential Daily Cleanser</h2>
              <h4>$32</h4>
              <h5>+ <span>1</span> -</h5>
            </div>
          </div> -->
          <div class="free-samples">
            <h2>{{"SELECT 2 FREE SAMPLES" | translate}}</h2>
            <ul>
              <li *ngFor="let sampleItem of sampleRes"> 
                <img [src]="baseImageUrl + sampleItem?.image" />
                <p *ngIf="currentLang == 'en'">{{sampleItem.productName}}</p>
                <p *ngIf="currentLang == 'ar'">{{sampleItem.productNameInAr}}</p>

                <h6>{{sampleItem.size}}</h6>
                <button type="button" class="btn btn-primary">{{"ADD" | translate}}</button>
              </li>
 
            </ul>
          </div>
        </div>

        <div class="promotional-code">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">

                    {{"ADD A PROMOTIONAL CODE" | translate}} <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <input type="text" class="form-control" placeholder="" aria-label="Username"
                    aria-describedby="basic-addon1">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cost-block " *ngIf="cart">
          <div class="cart-subtotal">
            <div class="row">
              <div class="col">{{"Subtotal" | translate}}</div>
              <div class="col cart-subtotal-value">£{{cart.subTotal}}</div>
            </div>
          </div>
          <div class="price-line cart-sub-total row">
            <div class="col">{{"Shipping" | translate}}</div>
            <div class="col"><i>{{"calculated in checkout" | translate}}</i></div>
          </div>
          <div class="price-line cart-sub-total row">
            <div class="col">{{"Total Discount" | translate}}</div>
            <div class="col">£{{cart.totalDiscounts}}</div>
          </div>
          <div class="price-line cart-grand-total row">
            <div class="col"><b>{{"Estimated Total" | translate}}</b></div>
            <div class="col"><b>£{{cart.cartTotal}}</b></div>
          </div>
          <div class="cart-link-wrapper">
            <button [routerLink]="['/cart/checkout']" routerLinkActive="router-link-active" type="button" 
              class="btn btn-secondary btn-block btn-lg" mat-button mat-dialog-close>{{"Checkout" | translate}}</button>
          </div>
        </div>


      </div>

    </div>

<!-- modal-dialog -->