.myDialogClass 
    .mat-dialog-container {
        /* border-radius: 20px; */
        position: relative;
        width: 400px;
}
.cdk-overlay-pane.myDialogClass {
    position: absolute !important;
    right: 0;
    left: auto;
}
div#cdk-overlay-0 {
  right: 0;
  position: absolute !important;
  left: auto;
}
.cdk-overlay-pane.myDialogClass {
  position: absolute !important;
  right: 0;
  left: auto;
}
.cdk-overlay-pane.myDialogClass .mat-dialog-container{
background-color: transparent !important;
padding: 0px;
}
.cdk-overlay-pane.myDialogClass .modal-header {
  color: #333;
}

.cdk-overlay-pane.myDialogClass .modal-body {
  color: #000;
}


