    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" mat-button mat-dialog-close>X</button>

            </div>
            <div class="modal-body">
                <div class="model-inner-search">
                    <!-- Actual search box -->
                    <div class="form-group has-search">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="fa fa-search form-control-feedback"></span>
                    </div>
                    <h3>Search Results</h3>
                    <ul>
                        <span><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                aria-hidden="true"></i></span>
                        <span><b>carer 17</b> .19 days ago </span>
                        <h5>Amazing And Refreshing</h5>
                        <p>This product is so refreshing to the skin. Since using Elemis products on my face my skin
                            has just...</p>
                    </ul>
                    <ul>
                        <span><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                aria-hidden="true"></i></span>
                        <span><b>carer 17</b> .19 days ago </span>
                        <h5>Amazing And Refreshing</h5>
                        <p>This product is so refreshing to the skin. Since using Elemis products on my face my skin
                            has just...</p>
                    </ul>
                    <ul>
                        <span><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                aria-hidden="true"></i></span>
                        <span><b>carer 17</b> .19 days ago </span>
                        <h5>Amazing And Refreshing</h5>
                        <p>This product is so refreshing to the skin. Since using Elemis products on my face my skin
                            has just...</p>
                    </ul>
                    <ul>
                        <span><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                aria-hidden="true"></i></span>
                        <span><b>carer 17</b> .19 days ago </span>
                        <h5>Amazing And Refreshing</h5>
                        <p>This product is so refreshing to the skin. Since using Elemis products on my face my skin
                            has just...</p>
                    </ul>
                    <ul>
                        <span><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                aria-hidden="true"></i></span>
                        <span><b>carer 17</b> .19 days ago </span>
                        <h5>Amazing And Refreshing</h5>
                        <p>This product is so refreshing to the skin. Since using Elemis products on my face my skin
                            has just...</p>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <i class="fa fa-caret-left" aria-hidden="true"></i>
                <i class="fa fa-caret-right" aria-hidden="true"></i>
            </div>
        </div>
    </div>
