<section class="keep-in-touch-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="keep-in-left">
          <h2>Let's keep In Touch</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever
          </p>
          <ul>
            <li>
              <a
                href="https://www.facebook.com/"
                style="color: black"
                target="_blank"
                ><i class="fa fa-facebook" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.twitter.com/"
                style="color: black"
                target="_blank"
                ><i class="fa fa-twitter" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/"
                style="color: black"
                target="_blank"
                ><i class="fa fa-instagram" aria-hidden="true"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-7">
        <div class="keep-in-right">
          <h3>Email Address</h3>
          <form>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                aria-describedby="emailHelp"
                placeholder="Enter Email"
              />
              <small id="emailHelp" class="form-text"
                >Please Enter a valid Email</small
              >
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="defaultCheck1"
              />
              <label class="form-check-label" for="defaultCheck1">
                Lorem ipsum, or lipsum as it is sometimes known, is dummy text
                used in laying out print, graphic or web designs.
              </label>
            </div>
          </form>
          <h3>Phone Number</h3>
          <form>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                aria-describedby="emailHelp"
                placeholder="Enter Phone Number"
              />
              <small id="emailHelp" class="form-text"
                >Please Enter a valid Phone Number</small
              >
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="defaultCheck2"
              />
              <label class="form-check-label" for="defaultCheck2">
                Lorem ipsum, or lipsum as it is sometimes known, is dummy text
                used in laying out print, graphic or web designs.
              </label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
