<app-banner></app-banner>
<app-categories></app-categories>

<app-best-seller></app-best-seller>

<section class="clean-intelligence-sec" id="backtotop">
  <div class="container">

    <div class="row">
      <div class="col-lg-4">
        <div class="clean-left-sec">
          <h2><b>Lorem ipsum</b></h2>
          <h4>CLEAN INTELLIGENCE QUALITY</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna lorem
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="clean-center-sec">
          <img src="./assets/images/clean_standard.png" />
          <div class="clean-icon-flex">
            <h3>Clean Standard</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh euismod
            </p>
          </div>
        </div>
        <div class="clean-center-sec">
          <img src="./assets/images/clean_ingredients.png" />
          <div class="clean-icon-flex">
            <h3>Clean Ingredients</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh euismod
            </p>
          </div>
        </div>
        <div class="clean-center-sec">
          <img src="./assets/images/clean_verification.png" />
          <div class="clean-icon-flex">
            <h3>Clean Verification</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh euismod
            </p>
          </div>
        </div>
        <div class="clean-center-sec">
          <img src="./assets/images/clean_benefits.png" />
          <div class="clean-icon-flex">
            <h3>Clean Benefits</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh euismod
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="clean-center-sec">
          <img src="./assets/images/clean_technology.png" />
          <div class="clean-icon-flex">
            <h3>Clean Technology</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh euismod
            </p>
          </div>
        </div>
        <div class="clean-center-sec">
          <img src="./assets/images/clean_sourcing.png" />
          <div class="clean-icon-flex">
            <h3>Clean Sourcing</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh euismod
            </p>
          </div>
        </div>
        <div class="clean-center-sec">
          <img src="./assets/images/clean_Production.png" />
          <div class="clean-icon-flex">
            <h3>Clean Production</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh euismod
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="shop-sellers-product-sec">
  <div class="container">
    <h2 class="heading">{{"Recommended Product List" | translate}}</h2>

    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let recommendedProduct of recommendedProductListResponse">
        <div class="item">
          <div class="shop-inner-product">
            <img [src]="baseImageUrl + recommendedProduct.imagePath" />
            <div class="product-left-padding">
              <h3 *ngIf="currentLang=='en'">
                {{ recommendedProduct.brandName }}
              </h3>
              <h3 *ngIf="currentLang=='ar'">
                {{ recommendedProduct.brandNameInAr }}
              </h3>
              <p *ngIf="currentLang=='en'">
                {{recommendedProduct.productName}}
              </p>
              <p *ngIf="currentLang=='ar'">
                {{recommendedProduct.productNameInAr}}
              </p>
              <ul>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
              </ul>
              <h4>${{recommendedProduct.price}}</h4>
              <h6><span *ngIf="currentLang=='en'">{{recommendedProduct.measure}}</span>
                <span *ngIf="currentLang=='ar'">{{recommendedProduct.measureInAr}}</span>
              </h6>
              <button (click)="openAddToCart(recommendedProduct)">{{"Add To Bag" | translate}}</button> <button>{{"Consult a doctor" | translate}}</button>
            </div>
          </div>
        </div>
      </ng-template>
      <!-- <ng-template carouselSlide>
        <div class="item">
          <div class="shop-inner-product">
            <img src="./assets/images/product-2.jpg" />
            <div class="product-left-padding">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
              </p>
              <ul>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
              </ul>
              <h4>$230.00</h4>
              <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
              <a>Add To Bag</a> <button>Consult a doctor</button>
            </div>
          </div>
        </div></ng-template
      >
      <ng-template carouselSlide>
        <div class="item">
          <div class="shop-inner-product">
            <img src="./assets/images/product-3.jpg" />
            <div class="product-left-padding">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
              </p>
              <ul>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
              </ul>
              <h4>$230.00</h4>
              <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
              <a>Add To Bag</a> <button>Consult a doctor</button>
            </div>
          </div>
        </div></ng-template
      >
      <ng-template carouselSlide>
        <div class="item">
          <div class="shop-inner-product">
            <img src="./assets/images/product-4.jpg" />
            <div class="product-left-padding">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
              </p>
              <ul>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
              </ul>
              <h4>$230.00</h4>
              <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
              <a>Add To Bag</a> <button>Consult a doctor</button>
            </div>
          </div>
        </div></ng-template
      >
      <ng-template carouselSlide>
        <div class="item">
          <div class="shop-inner-product">
            <img src="./assets/images/product-5.jpg" />
            <div class="product-left-padding">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
              </p>
              <ul>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
              </ul>
              <h4>$230.00</h4>
              <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
              <a>Add To Bag</a> <button>Consult a doctor</button>
            </div>
          </div>
        </div></ng-template
      >
      <ng-template carouselSlide>
        <div class="item">
          <div class="shop-inner-product">
            <img src="./assets/images/product-1.jpg" />
            <div class="product-left-padding">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
              </p>
              <ul>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
              </ul>
              <h4>$230.00</h4>
              <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
              <a>Add To Bag</a> <button>Consult a doctor</button>
            </div>
          </div>
        </div></ng-template
      >
      <ng-template carouselSlide
        ><div class="item">
          <div class="shop-inner-product">
            <img src="./assets/images/product-2.jpg" />
            <div class="product-left-padding">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
              </p>
              <ul>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
              </ul>
              <h4>$230.00</h4>
              <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
              <a>Add To Bag</a> <button>Consult a doctor</button>
            </div>
          </div>
        </div></ng-template
      >
      <ng-template carouselSlide>
        <div class="item">
          <div class="shop-inner-product">
            <img src="./assets/images/product-3.jpg" />
            <div class="product-left-padding">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
              </p>
              <ul>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
              </ul>
              <h4>$230.00</h4>
              <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
              <a>Add To Bag</a> <button>Consult a doctor</button>
            </div>
          </div>
        </div></ng-template
      >
      <ng-template carouselSlide>
        <div class="item">
          <div class="shop-inner-product">
            <img src="./assets/images/product-4.jpg" />
            <div class="product-left-padding">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
              </p>
              <ul>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
              </ul>
              <h4>$230.00</h4>
              <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
              <a>Add To Bag</a> <button>Consult a doctor</button>
            </div>
          </div>
        </div></ng-template
      > -->
    </owl-carousel-o>
  </div>
</section>

<app-benefits></app-benefits>
<section class="pink-blank-sec"></section>

<app-clients></app-clients>

<app-testimonials></app-testimonials>

<section class="follow-sec">
  <h2 class="heading">Follow-@Derma</h2>
  <div class="container">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="item">
          <img src="./assets/images/follow-1.jpg" />
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="./assets/images/follow-2.jpg" />
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="./assets/images/follow-3.jpg" /></div
      ></ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="./assets/images/follow-1.jpg" /></div
      ></ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="./assets/images/follow-4.jpg" /></div
      ></ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="./assets/images/follow-1.jpg" /></div
      ></ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="./assets/images/follow-2.jpg" /></div
      ></ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="./assets/images/follow-1.jpg" /></div
      ></ng-template>
    </owl-carousel-o>
  </div>
</section>

<section class="pink-blank-sec"></section>
