<!-- <section class="products-main-sec">
  <div class="container">
    <div class="product-filter">
      <h2>All Skin Type</h2>
      <app-filter-ui></app-filter-ui>
    </div>

    <div class="product-alpha">
      <div class="col-xs-12" style="text-align: center">
        <ng-container *ngFor="let group of allSkinTypeList">
          <a
            *ngIf="currentLang == 'en'"
            (click)="gotoDiv(group.contacts[0].alphabetKey)"
            class="letterTxt"
          >
            {{ group.contacts[0].alphabetKey }}</a
          >
        </ng-container>
        <ng-container *ngFor="let group of allSkinTypeList">
          <a
            *ngIf="currentLang == 'ar'"
            (click)="gotoDiv(group.contacts[0].alphabetKeyInAr)"
            class="letterTxt"
          >
            {{ group.contacts[0].alphabetKeyInAr }}</a
          >
        </ng-container>
      </div>
    </div>

    <section class="product-cetegrory">
      <div class="container">
        <div class="row" *ngFor="let group of allSkinTypeList">
          <div class="col-md-1">
            <h2
              *ngIf="currentLang == 'en'"
              class="letterHeader"
              [id]="group.contacts[0].alphabetKey"
            >
              {{ group.contacts[0].alphabetKey }}
            </h2>
            <h2
              *ngIf="currentLang == 'ar'"
              class="letterHeader"
              [id]="group.contacts[0].alphabetKeyInAr"
            >
              {{ group.contacts[0].alphabetKeyInAr }}
            </h2>
          </div>
          <div class="col-md-11">
            <hr class="single-border" />
          </div>

          <div *ngIf="currentLang == 'en'" class="alpha-detail">
            <ul class="row">
              <a
                *ngFor="let contact of group.contacts"
                (click)="getskinTypeList(contact)"
                class="col-lg-3"
                >{{ contact.skinTypeName }}</a
              >
            </ul>
          </div>
          <div *ngIf="currentLang == 'ar'" class="alpha-detail">
            <ul class="row">
              <a
                *ngFor="let contact of group.contacts"
                (click)="getskinTypeList(contact)"
                class="col-lg-3"
              >
                {{ contact.skinTypeNameInAr }}</a
              >
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</section> -->



<div class="skin-care-main">
  <div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>{{"Shop All Skincare" | translate}}</h3>
    </div>
    <div class="col-md-6"> 
    <div
     class="short-filter"><span _ngcontent-stq-c354="">
      <i _ngcontent-stq-c354="" aria-hidden="true" class="fa fa-filter"></i>{{"Filter" | translate}}</span>
      <select _ngcontent-stq-c354="" id="short-filter" name="cars">
        <option _ngcontent-stq-c354="" value="sort" ng-reflect-value="sort">{{"Sort By" | translate}}</option>
        <option _ngcontent-stq-c354="" class="ng-star-inserted">Best Sellers</option>
        <option _ngcontent-stq-c354="" class="ng-star-inserted">New</option>
        <option _ngcontent-stq-c354="" class="ng-star-inserted">Price Low to High</option>
        <option _ngcontent-stq-c354="" class="ng-star-inserted">Price High to Low</option>
        <option _ngcontent-stq-c354="" class="ng-star-inserted">Top Rated</option>
      </select></div>
  </div>
</div>
</div>
</div>

<div class="skin-detail-products">
  <div class="container">
    <div class="row">
    <div class="col-md-4" *ngFor="let skinItem of skinTypeList">
      <div class="shop-inner-product">
        <img [src]="baseImageUrl+skinItem.imagePath" />
        <div class="product-left-padding">
          <h3 *ngIf="currentLang == 'en'">{{skinItem.brandName}}</h3>
          <h3 *ngIf="currentLang == 'ar'">{{skinItem.brandNameInAr}}</h3>
          <p *ngIf="currentLang == 'en'">{{skinItem.productName}}</p>
          <p *ngIf="currentLang == 'ar'">{{skinItem.productNameInAr}}</p>

          <ul>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
          </ul>
          <!-- <rating [(ngModel)]="skinItem.rating"
          [max]="5"
          iconClass="fa-star"
          fullIcon="★"
          emptyIcon="☆"
          [readonly]="false"
          [disabled]="false"
          [required]="true"
          [float]="true"
          [titles]="['one', 'two', 'three', 'four', 'five']">  </rating> -->

          <h4 >${{skinItem.price}}</h4>
          <h6><span *ngIf="currentLang == 'en'">{{skinItem.measure}}</span>
            <span *ngIf="currentLang == 'ar'">{{skinItem.measureInAr}}</span>
             <span></span> <span></span></h6>
          <button (click)="openAddToCart(skinItem)" type="button" >{{"Add To Bag" | translate}}</button>       

      </div>
    </div>
  </div>
</div>


