<section class="products-main-sec">
  <div class="container">
    <div class="product-filter">
      <h2>Our products</h2>
      <app-filter-ui></app-filter-ui>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let productType of productTypeRes">
        <div class="shop-inner-product">
          <img src="assets/images/product-1.jpg" />
          <div class="product-left-padding">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>$230.00</h4>
            <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
            <a>Add To Bag</a>
            <button>Consult a doctor</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="shop-inner-product">
          <img src="assets/images/product-1.jpg" />
          <div class="product-left-padding">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>$230.00</h4>
            <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
            <a>Add To Bag</a> <button>Consult a doctor</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="shop-inner-product">
          <img src="assets/images/product-1.jpg" />
          <div class="product-left-padding">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>$230.00</h4>
            <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
            <a>Add To Bag</a> <button>Consult a doctor</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="shop-inner-product">
          <img src="assets/images/product-1.jpg" />
          <div class="product-left-padding">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>$230.00</h4>
            <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
            <a>Add To Bag</a> <button>Consult a doctor</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="shop-inner-product">
          <img src="assets/images/product-1.jpg" />
          <div class="product-left-padding">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>$230.00</h4>
            <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
            <a>Add To Bag</a> <button>Consult a doctor</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="shop-inner-product">
          <img src="assets/images/product-1.jpg" />
          <div class="product-left-padding">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>$230.00</h4>
            <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
            <a>Add To Bag</a> <button>Consult a doctor</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="shop-inner-product">
          <img src="assets/images/product-1.jpg" />
          <div class="product-left-padding">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>$230.00</h4>
            <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
            <a>Add To Bag</a> <button>Consult a doctor</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="shop-inner-product">
          <img src="assets/images/product-1.jpg" />
          <div class="product-left-padding">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>$230.00</h4>
            <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
            <a>Add To Bag</a> <button>Consult a doctor</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="shop-inner-product">
          <img src="assets/images/product-1.jpg" />
          <div class="product-left-padding">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
            <ul>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </ul>
            <h4>$230.00</h4>
            <h6><span>20g</span> <span>50g</span> <span>100g</span></h6>
            <a>Add To Bag</a> <button>Consult a doctor</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
