<section class="account-login">
  <div class="account-login-inner">
    <img src="./assets/images/logo.png" />
    <form class="mt-3" [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
      <div class="form-group">
        <label>
          <h1>{{"Create an Account" | translate}}</h1>
          {{"Sign up to use convenient features and quick checkout." | translate}}
        </label><br />
        <label for="exampleInputEmail1">{{"Email" | translate}}</label>
        <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email"
          aria-describedby="emailHelp" placeholder="Enter Valid Email Id" [ngClass]="{
          'is-invalid':
            submitted && getFormControl.email.errors}" />
        <div *ngIf="submitted && getFormControl.email.errors" class="invalid-feedback">
          <div *ngIf="getFormControl.email.errors.required">
            {{"Email is required" | translate}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>{{"Phone Number" | translate}}</label>
        <input type="text" style="width: 540px;" class="form-control" formControlName="phoneNumber"
          placeholder="Enter Your Phone Number"
          [ngClass]="{'is-invalid': submitted && getFormControl.phoneNumber.errors}"
          [ng2TelInputOptions]="{initialCountry: 'in'}" (ng2TelOutput)="getNumber($event)"
          (intlTelInputObject)="telInputObject($event)" (countryChange)="onCountryChange($event)" ng2TelInput />
        <!-- <div *ngIf="submitted && getFormControl.password.errors" class="invalid-feedback">
          <div *ngIf="getFormControl.password.errors.required">
            {{"Phone Number is required" | translate}}
          </div>
        </div> -->
        
        <div *ngIf="input">
          <div style="color:#dc3545; font-size: 80%;" *ngIf="getFormControl.phoneNumber.errors.required">
            {{"Phone Number is required" | translate}}
          </div>
        </div>
      </div>
      

      <div class="form-group">
        <label>{{"Password" | translate}}</label>
        <input type="password" class="form-control" placeholder="Enter Your Password" formControlName="password"
          [ngClass]="{'is-invalid': submitted && getFormControl.password.errors}" />
        <div *ngIf="submitted && getFormControl.password.errors" class="invalid-feedback">
          <div *ngIf="getFormControl.password.errors.required">
            {{"Password is required" | translate}}
          </div>
          <!-- <div *ngIf="getFormControl.password.errors.required">
            Password is required
          </div> -->
        </div>
        <!-- <div *ngIf="getFormControl.password.errors.minLength">
          Password must be at least 6 characters.
        </div> -->
      </div>

      <button type="submit" class="btn btn-primary">{{"Sign Up" | translate}}</button>
      <p>{{"By continuing, you agree to derma stations" | translate}} <a>{{"Privacy Policy" | translate}}</a></p>
      <a class="need-help">{{"Need help" | translate}}</a>
    </form>
    <div class="craete-acount">
      <button [routerLink]="['/login']" routerLinkActive="router-link-active">
        {{"Go Back To Login" | translate}}
      </button>
    </div>
  </div>
</section>