<div class="per-product-brand-left">
  <h5 style="margin-left: 14px">{{ "REFINE BY" | translate }}</h5>
  <div class="form-check" style="margin-left: 14px; margin-bottom: 20px">
    <input type="checkbox" class="form-check-input" id="exampleCheck10" />
    <label class="form-check-label" for="exampleCheck10" style="font-size: 17px;"
      >{{"On Sale" | translate}}</label
    >
  </div>
  <div id="accordion">
    <!-- <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button
            class="btn btn-link"
            data-toggle="collapse"
            data-target="#onsale"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck1"
            />
            {{ "On Sale" | translate }}
            <i class="fa fa-plus" aria-hidden="true"></i>
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
        </h5>
      </div>

      <div
        id="onsale"
        class="collapse show"
        aria-labelledby="headingOne"
        data-parent="#accordion"
      >
        <div class="card-body">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck1"
            />
            <label class="custom-control-label" for="customCheck1"
              >Check this custom</label
            >
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck2"
            />
            <label class="custom-control-label" for="customCheck2"
              >Check custom
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck3"
            />
            <label class="custom-control-label" for="customCheck3"
              >Check custom
            </label>
          </div>
        </div>
      </div>
    </div> -->
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#skincareproducttype"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            {{ "Skin Care Product Type" | translate }}
            <i class="fa fa-plus" aria-hidden="true"></i>
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
        </h5>
      </div>
      <div
        id="skincareproducttype"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#accordion"
      >
        <div class="card-body">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck4"
            />
            <label class="custom-control-label" for="customCheck4"
              >Check this custom</label
            >
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck5"
            />
            <label class="custom-control-label" for="customCheck5"
              >Check custom
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck6"
            />
            <label class="custom-control-label" for="customCheck6"
              >Check custom
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#rating"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            {{ "Ratings" | translate }}
            <i class="fa fa-plus" aria-hidden="true"></i>
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
        </h5>
      </div>
      <div
        id="rating"
        class="collapse"
        aria-labelledby="headingThree"
        data-parent="#accordion"
      >
        <div class="card-body">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck7"
            />
            <label class="custom-control-label" for="customCheck7"
              >Check this custom</label
            >
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck8"
            />
            <label class="custom-control-label" for="customCheck8"
              >Check custom
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck9"
            />
            <label class="custom-control-label" for="customCheck9"
              >Check custom
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#Concerns"
            aria-expanded="false"
            aria-controls="Concerns"
          >
            {{ "Concerns" | translate }}
            <i class="fa fa-plus" aria-hidden="true"></i>
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
        </h5>
      </div>
      <div
        id="Concerns"
        class="collapse"
        aria-labelledby="headingThree"
        data-parent="#accordion"
      >
        <div class="card-body">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck7"
            />
            <label class="custom-control-label" for="customCheck7"
              >Check this custom</label
            >
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck8"
            />
            <label class="custom-control-label" for="customCheck8"
              >Check custom
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck9"
            />
            <label class="custom-control-label" for="customCheck9"
              >Check custom
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#makeupproducttype"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            {{ "Makeup Product Type" | translate }}
            <i class="fa fa-plus" aria-hidden="true"></i>
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
        </h5>
      </div>
      <div
        id="makeupproducttype"
        class="collapse"
        aria-labelledby="headingThree"
        data-parent="#accordion"
      >
        <div class="card-body">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck7"
            />
            <label class="custom-control-label" for="customCheck7"
              >Check this custom</label
            >
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck8"
            />
            <label class="custom-control-label" for="customCheck8"
              >Check custom
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck9"
            />
            <label class="custom-control-label" for="customCheck9"
              >Check custom
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#skintype"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            {{ "Skin Type" | translate }}
            <i class="fa fa-plus" aria-hidden="true"></i>
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
        </h5>
      </div>
      <div
        id="skintype"
        class="collapse"
        aria-labelledby="headingThree"
        data-parent="#accordion"
      >
        <div class="card-body">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck7"
            />
            <label class="custom-control-label" for="customCheck7"
              >Check this custom</label
            >
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck8"
            />
            <label class="custom-control-label" for="customCheck8"
              >Check custom
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck9"
            />
            <label class="custom-control-label" for="customCheck9"
              >Check custom
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#bathbodyproducts"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            {{ "Bath and Body Products" | translate }}
            <i class="fa fa-plus" aria-hidden="true"></i>
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
        </h5>
      </div>
      <div
        id="bathbodyproducts"
        class="collapse"
        aria-labelledby="headingThree"
        data-parent="#accordion"
      >
        <div class="card-body">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck7"
            />
            <label class="custom-control-label" for="customCheck7"
              >Check this custom</label
            >
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck8"
            />
            <label class="custom-control-label" for="customCheck8"
              >Check custom
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck9"
            />
            <label class="custom-control-label" for="customCheck9"
              >Check custom
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#ingredients"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            {{ "Ingredients" | translate }}
            <i class="fa fa-plus" aria-hidden="true"></i>
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
        </h5>
      </div>
      <div
        id="ingredients"
        class="collapse"
        aria-labelledby="headingThree"
        data-parent="#accordion"
      >
        <div class="card-body">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck7"
            />
            <label class="custom-control-label" for="customCheck7"
              >Check this custom</label
            >
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck8"
            />
            <label class="custom-control-label" for="customCheck8"
              >Check custom
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck9"
            />
            <label class="custom-control-label" for="customCheck9"
              >Check custom
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#applicationarea"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            {{ "Application Area" | translate }}
            <i class="fa fa-plus" aria-hidden="true"></i>
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
        </h5>
      </div>
      <div
        id="applicationarea"
        class="collapse"
        aria-labelledby="headingThree"
        data-parent="#accordion"
      >
        <div class="card-body">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck7"
            />
            <label class="custom-control-label" for="customCheck7"
              >Check this custom</label
            >
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck8"
            />
            <label class="custom-control-label" for="customCheck8"
              >Check custom
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck9"
            />
            <label class="custom-control-label" for="customCheck9"
              >Check custom
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#spf"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            SPF <i class="fa fa-plus" aria-hidden="true"></i>
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
        </h5>
      </div>
      <div
        id="spf"
        class="collapse"
        aria-labelledby="headingThree"
        data-parent="#accordion"
      >
        <div class="card-body">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck7"
            />
            <label class="custom-control-label" for="customCheck7"
              >Check this custom</label
            >
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck8"
            />
            <label class="custom-control-label" for="customCheck8"
              >Check custom
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck9"
            />
            <label class="custom-control-label" for="customCheck9"
              >Check custom
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#productType"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            {{ "Product Type" | translate }}
            <i class="fa fa-plus" aria-hidden="true"></i>
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
        </h5>
      </div>
      <div
        id="productType"
        class="collapse"
        aria-labelledby="headingThree"
        data-parent="#accordion"
      >
        <div class="card-body">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck7"
            />
            <label class="custom-control-label" for="customCheck7"
              >Check this custom</label
            >
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck8"
            />
            <label class="custom-control-label" for="customCheck8"
              >Check custom
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck9"
            />
            <label class="custom-control-label" for="customCheck9"
              >Check custom
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#prefrences"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            {{ "Prefrences" | translate }}
            <i class="fa fa-plus" aria-hidden="true"></i>
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
        </h5>
      </div>
      <div
        id="prefrences"
        class="collapse"
        aria-labelledby="headingThree"
        data-parent="#accordion"
      >
        <div class="card-body">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck7"
            />
            <label class="custom-control-label" for="customCheck7"
              >Check this custom</label
            >
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck8"
            />
            <label class="custom-control-label" for="customCheck8"
              >Check custom
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck9"
            />
            <label class="custom-control-label" for="customCheck9"
              >Check custom
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            data-toggle="collapse"
            data-target="#fragrancenote"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            {{ "Fragrance Note" | translate }}
            <i class="fa fa-plus" aria-hidden="true"></i>
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
        </h5>
      </div>
      <div
        id="fragrancenote"
        class="collapse"
        aria-labelledby="headingThree"
        data-parent="#accordion"
      >
        <div class="card-body">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck7"
            />
            <label class="custom-control-label" for="customCheck7"
              >Check this custom</label
            >
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck8"
            />
            <label class="custom-control-label" for="customCheck8"
              >Check custom
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck9"
            />
            <label class="custom-control-label" for="customCheck9"
              >Check custom
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
