<section class="every-day-offer">
  <div class="container">
    <div class="row">

      <!-- Product Filter Start -->
      <div class="col-md-3">
        <app-product-filter></app-product-filter>
      </div>
      <!-- Product Filter Start -->
      <div class="col-md-9">

        <h2 class="heading">{{"Featured Offers" | translate}}</h2>
        <!-- <div class="every-day-inner">
      <div class="row">
        <div class="col-md-5 every-day-left">
          <img src="assets/images/product-2.jpg" />
          <span
            >WORTH <br />
            $100</span
          >
        </div>

        <div class="col-md-7">
          <div class="every-day-right-sec">
            <h2>Your Resurfacing Ritual</h2>
            <p>
              Renew your complexion with this FREE 5-piece gift when<br />
              you spend $125+.*
            </p>
            <p>Use Code: RESURFACE</p>
            <a>Shop Now</a>
            <p>
              Valid until 2/7/21 11:59pm EST on purchases of $125 or more.
              Cannot be combined with any other coded promotions. Free gifts
              cannot be returned or exchanged for retail value. Free gifts may
              be changed or removed at any time. Not valid with purchases of
              sampling programs or gift cards. Where a free item is received as
              part of an offer and all or part of an order is refunded or
              cancelled the free item(s) must be returned with the product or
              your refund will be total due less the worth of the gift. We
              reserve the right to change and/or cancel the promotion at any
              time.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="every-day-inner">
      <div class="row">
        <div class="col-md-7">
          <div class="every-day-right-sec">
            <h2>Your Resurfacing Ritual</h2>
            <p>
              Renew your complexion with this FREE 5-piece gift when<br />
              you spend $125+.*
            </p>
            <p>Use Code: RESURFACE</p>
            <a>Shop Now</a>
            <p>
              Valid until 2/7/21 11:59pm EST on purchases of $125 or more.
              Cannot be combined with any other coded promotions. Free gifts
              cannot be returned or exchanged for retail value. Free gifts may
              be changed or removed at any time. Not valid with purchases of
              sampling programs or gift cards. Where a free item is received as
              part of an offer and all or part of an order is refunded or
              cancelled the free item(s) must be returned with the product or
              your refund will be total due less the worth of the gift. We
              reserve the right to change and/or cancel the promotion at any
              time.
            </p>
          </div>
        </div>

        <div class="col-md-5 every-day-left">
          <img src="assets/images/product-2.jpg" />
          <span
            >WORTH <br />
            $100</span
          >
        </div>
      </div>
    </div> -->
        <div class="row" *ngIf="isShownodata">
          <h3><strong>{{"No Offer To Show" | translate}}</strong></h3>
        </div>
        <div class="every-day-inner" *ngIf="!isShownodata">
          <div class="row"
            *ngFor="let item of offerListResponse | paginate: { itemsPerPage: 3, currentPage: page, totalItems:totalLength }"
            (click)="productDetails(item)">
            <div class="col-md-5 every-day-left">
              <img [src]="baseImageUrl +item.imagePath" />
              <span>WORTH <br />
                {{item.offers.offerPrice}}</span>
            </div>

            <div class="col-md-7">
              <div class="every-day-right-sec">
                <h2>{{item.productName}}</h2>
                <h3>{{item.brandName}}</h3>
                <h4>Measure: <b>{{item.measure}}</b></h4>
                <h4>Price: <b>{{item.offers.offerPrice}}</b></h4>
                <ul class="rating-product">
                  <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>:
                  <b>{{item.rating}}</b>
                </ul>
                <p>Use Discount Code: {{item.offers.discountCode}}</p>
                <h5>Offervalid: {{item.offers.fromDate | date}} To {{item.offers.toDate | date}}</h5>
                <a>Shop Now</a>
                <p>
                  Valid until 2/7/21 11:59pm EST on purchases of $125 or more.
                  Cannot be combined with any other coded promotions. Free gifts
                  cannot be returned or exchanged for retail value. Free gifts may
                  be changed or removed at any time. Not valid with purchases of
                  sampling programs or gift cards. Where a free item is received as
                  part of an offer and all or part of an order is refunded or
                  cancelled the free item(s) must be returned with the product or
                  your refund will be total due less the worth of the gift. We
                  reserve the right to change and/or cancel the promotion at any
                  time.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls (click)="goTotop()" (pageChange)="page = $event"></pagination-controls>
</section>